{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block thead %}
    <h1>Features list</h1>

     <table class="table table-striped table-bordered table-hover js-table" id="sample_1"  >
        <thead>
            <tr>            
                <th>Features</th>
                <th>Pricing</th>
                <th>Actions</th>
            </tr>
        </thead>
    {% endblock %}
    
    {% block tbody %}
        <tbody>
            {% for feature in features %}
                <tr>
                    <td><a href="{{ path('features_show', { 'id': feature.id }) }}">{{ feature.features }}</a></td>
                    <td>
                    {% for pricing in feature.pricing %}
                    {{ pricing.name }},
                    {% endfor %}
                    </td>
                    <td class="btn-group btn-group-circle btn-group-solid">  
                        <a href="{{ path('features_show', { 'id': feature.id }) }} " class="btn green">show</a>
                        <a href="{{ path('features_edit', { 'id': feature.id }) }}" class="btn yellow">edit</a>
                         <a class="btn red 
                           js-delete-row"  
                           href="#"                          
                           data-url="{{ path ('features_delete', {'id':feature.id}) }}"
                           >delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('features_new') }} " class="btn btn-circle green">Create a new feature</a>

{% endblock %}
{% block javascript %}   
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var $table = $('.js-table');
            DeleteRow.initialize($table);
            
        });
    </script>


{% endblock %}
