{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block thead %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Titletag</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% endblock %}

{% block tbody %}
        {% for sEO in sEOs %}
            <tr>
                <td><a href="{{ path('seo_show', { 'id': sEO.id }) }}">{{ sEO.id }}</a></td>
                <td>{{ sEO.description }}</td>
                <td>{{ sEO.titletag }}</td>
                <td>{{ sEO.title }}</td>
                <td>{% if sEO.created %}{{ sEO.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if sEO.updated %}{{ sEO.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('seo_show', { 'id': sEO.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('seo_edit', { 'id': sEO.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seo_new') }}">Create a new sEO</a>
        </li>
    </ul>
{% endblock %}
