{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block thead %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>Phone</th>
                <th>Mail</th>
                <th>Education</th>
                <th>Faceurl</th>
                <th>Gurl</th>
                <th>Inurl</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% endblock %}

{% block tbody %}
        {% for teamMember in teamMembers %}
            <tr>
                <td><a href="{{ path('teammember_show', { 'id': teamMember.id }) }}">{{ teamMember.id }}</a></td>
                <td>{{ teamMember.name }}</td>
                <td>{{ teamMember.position }}</td>
                <td>{{ teamMember.phone }}</td>
                <td>{{ teamMember.mail }}</td>
                <td>{{ teamMember.education }}</td>
                <td>{{ teamMember.faceurl }}</td>
                <td>{{ teamMember.gurl }}</td>
                <td>{{ teamMember.inurl }}</td>
                <td>{{ teamMember.description }}</td>
                <td>{% if teamMember.created %}{{ teamMember.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if teamMember.updated %}{{ teamMember.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('teammember_show', { 'id': teamMember.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('teammember_edit', { 'id': teamMember.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('teammember_new') }}">Create a new teamMember</a>
        </li>
    </ul>
{% endblock %}
