{% extends '@AppBundle/Resources/views/admin/tableBase.html.twig' %}

{% block body %}
    <h1>Teammembers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>Phone</th>
                <th>Mail</th>
                <th>Education</th>
                <th>Faceurl</th>
                <th>Gurl</th>
                <th>Inurl</th>
                <th>Longdescription</th>
                <th>Description</th>
                <th>Blockquote</th>
                <th>Url</th>
                <th>Alt</th>
                <th>Imagetitle</th>
                <th>Imagecaption</th>
                <th>Url1</th>
                <th>Alt1</th>
                <th>Imagetitle1</th>
                <th>Imagecaption1</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teamMember in teamMembers %}
            <tr>
                <td><a href="{{ path('teammember_show', { 'id': teamMember.id }) }}">{{ teamMember.id }}</a></td>
                <td>{{ teamMember.name }}</td>
                <td>{{ teamMember.position }}</td>
                <td>{{ teamMember.phone }}</td>
                <td>{{ teamMember.mail }}</td>
                <td>{{ teamMember.education }}</td>
                <td>{{ teamMember.faceurl }}</td>
                <td>{{ teamMember.gurl }}</td>
                <td>{{ teamMember.inurl }}</td>
                <td>{{ teamMember.longdescription }}</td>
                <td>{{ teamMember.description }}</td>
                <td>{{ teamMember.blockquote }}</td>
                <td>{{ teamMember.url }}</td>
                <td>{{ teamMember.alt }}</td>
                <td>{{ teamMember.imagetitle }}</td>
                <td>{{ teamMember.imagecaption }}</td>
                <td>{{ teamMember.url1 }}</td>
                <td>{{ teamMember.alt1 }}</td>
                <td>{{ teamMember.imagetitle1 }}</td>
                <td>{{ teamMember.imagecaption1 }}</td>
                <td>{% if teamMember.created %}{{ teamMember.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if teamMember.updated %}{{ teamMember.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('teammember_show', { 'id': teamMember.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('teammember_edit', { 'id': teamMember.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('teammember_new') }}">Create a new teamMember</a>
        </li>
    </ul>
{% endblock %}
