{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teammember</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teamMember.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ teamMember.name }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ teamMember.position }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ teamMember.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ teamMember.mail }}</td>
            </tr>
            <tr>
                <th>Education</th>
                <td>{{ teamMember.education }}</td>
            </tr>
            <tr>
                <th>Faceurl</th>
                <td>{{ teamMember.faceurl }}</td>
            </tr>
            <tr>
                <th>Gurl</th>
                <td>{{ teamMember.gurl }}</td>
            </tr>
            <tr>
                <th>Inurl</th>
                <td>{{ teamMember.inurl }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ teamMember.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if teamMember.created %}{{ teamMember.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if teamMember.updated %}{{ teamMember.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('teammember_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('teammember_edit', { 'id': teamMember.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
