{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faqs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Answer</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fAQ in fAQs %}
            <tr>
                <td><a href="{{ path('faq_show', { 'id': fAQ.id }) }}">{{ fAQ.id }}</a></td>
                <td>{{ fAQ.title }}</td>
                <td>{{ fAQ.answer }}</td>
                <td>{{ fAQ.category }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('faq_show', { 'id': fAQ.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('faq_edit', { 'id': fAQ.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('faq_new') }}">Create a new fAQ</a>
        </li>
    </ul>
{% endblock %}
