{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block thead %}
    <h1>Maingalleries list</h1>
    <table class="table table-striped table-bordered table-hover js-table" id="sample_1"  >
        <thead>
            <tr>
                <th>Id</th>
                <th>Slika</th>
                <th>Alt</th>
                <th>Liga</th>
                <th>Clan tima</th>
                <th>Glavna slika za clana tima</th>
                <th>Mesto</th>
                <th>Slajder</th>
                <th>Slika na svakoj strani</th>
                <th>Blog</th>
                <th>Glavna slika za blog</th>
                <th>Mainpicturegallery</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% endblock %}

        {% block tbody %}
            {% for mainGallery in mainGalleries %}
                <tr>
                    <td><a href="{{ path('maingallery_show', { 'slug': mainGallery.slug }) }}">{{ mainGallery.id }}</a></td>
                    <td><img src="{{ vich_uploader_asset(mainGallery, 'imageFile') }}" height="50" width="50" /></td>
                    <td>{{ mainGallery.alt }}</td>
                    <td> 
                        {% for league in mainGallery.league %}
                            {{ league.league }}
                        {% endfor %}
                    </td>
                    <td> 
                        {% for teamMember in mainGallery.teamMember %}
                            {{ teamMember.name }};                 
                        {% endfor %}
                    </td>
                    <td>{% if mainGallery.mainTeamMemberPicture %}Yes{% else %}No{% endif %}</td>
                    <td> 
                        {% for place in mainGallery.place %}
                            {{ place.title }};                  
                        {% endfor %}
                    </td>
                    <td> 
                        {% for homeSlider in mainGallery.homeSlider %}
                            {{ homeSlider.mainTitle }};                  
                        {% endfor %}
                    </td>
                    <td> 
                        {% for breadCrumps in mainGallery.breadCrumps %}
                            {{ breadCrumps.name }};
                        {% endfor %}
                    </td>
                    <td> 
                        {% for blog in mainGallery.blog %}
                            {{ blog.title }};
                        {% endfor %}
                    </td>
                    <td>{% if mainGallery.mainBlogPicture %}Yes{% else %}No{% endif %}</td>
                    
                    <td>{% if mainGallery.mainPictureGallery %}Yes{% else %}No{% endif %}</td>
                    <td>{{ mainGallery.title }}</td>
                    <td>{{ mainGallery.description }}</td>
                    <td class="btn-group btn-group-circle btn-group-solid"> 
                        <a href="{{ path('maingallery_show', { 'slug': mainGallery.slug }) }}" class="btn green">show</a>
                        <a href="{{ path('maingallery_edit', { 'slug': mainGallery.slug }) }}" class="btn yellow">edit</a>
                        <a class="btn red 
                           js-delete-row"  
                           href="#"                          
                           data-url="{{ path ('maingallery_delete', {'slug':mainGallery.slug}) }}"
                           >delete</a>
                    </td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('maingallery_new') }}" class="btn btn-circle green">Create a new mainGallery</a>

{% endblock %}

