{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block thead %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Alt</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% endblock %}

{% block tbody %}
        {% for leagueGallery in leagueGalleries %}
            <tr>
                <td><a href="{{ path('leaguegallery_show', { 'id': leagueGallery.id }) }}">{{ leagueGallery.id }}</a></td>
                <td>{{ leagueGallery.url }}</td>
                <td>{{ leagueGallery.alt }}</td>
                <td>{% if leagueGallery.created %}{{ leagueGallery.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if leagueGallery.updated %}{{ leagueGallery.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('leaguegallery_show', { 'id': leagueGallery.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('leaguegallery_edit', { 'id': leagueGallery.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('leaguegallery_new') }}">Create a new leagueGallery</a>
        </li>
    </ul>
{% endblock %}
