{% extends 'base.html.twig' %}

{% block body %}
    <h1>Leaguegallery</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ leagueGallery.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ leagueGallery.url }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ leagueGallery.alt }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if leagueGallery.created %}{{ leagueGallery.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if leagueGallery.updated %}{{ leagueGallery.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('leaguegallery_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('leaguegallery_edit', { 'id': leagueGallery.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
