{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block thead %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Alt</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% endblock %}

{% block tbody %}
        {% for memberGallery in memberGalleries %}
            <tr>
                <td><a href="{{ path('membergallery_show', { 'id': memberGallery.id }) }}">{{ memberGallery.id }}</a></td>
                <td>{{ memberGallery.url }}</td>
                <td>{{ memberGallery.alt }}</td>
                <td>{% if memberGallery.created %}{{ memberGallery.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if memberGallery.updated %}{{ memberGallery.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('membergallery_show', { 'id': memberGallery.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('membergallery_edit', { 'id': memberGallery.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('membergallery_new') }}">Create a new memberGallery</a>
        </li>
    </ul>
{% endblock %}
