<!DOCTYPE html>

<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>OK Novi Beograd</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #2 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />



        {#{% stylesheets 'public/Admin/admincss/*' filter='cssrewrite' filter='uglifycss' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}#}

        <link href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/font-awesome.min.css')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/simple-line-icons.min.css')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/bootstrap.min.css')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/bootstrap-switch.min.css')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/daterangepicker.css')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/morris.css')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/fullcalendar.min.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/jqvmap.css')}}"  filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/components.min.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/plugins.min.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/layout.min.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/blue.min.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/custom.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/datatables.min.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/datatables.bootstrap.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/select2.min.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/select2-bootstrap.min.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/Admin/admincss/login-5.min.css')}}" filter='cssrewrite' rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="favicon.ico" /> 
    </head>
    <!-- END HEAD -->

   {# <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">#}
       
        {% block body %}
        {% endblock %}

                
            {% javascripts '@jq_admin'%}{ filter='uglifyjs'}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}        
    {#</body>#}

</html>