{% extends '@AppBundle/Resources/views/admin/base.html.twig' %}
{% block head %}


    <link href="{{ asset('public/Admin/admincss/bootstrap-datepicker3.min.css')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/> 
    <link href="{{ asset('public/Admin/admincss/bootstrap-timepicker.min.css')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/>  
    <link href="{{ asset('public/Admin/admincss/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/> 
    <link href="{{ asset('public/Admin/admincss/clockface.css')}}" rel="stylesheet" filter='cssrewrite' type="text/css"/> 
    {{ parent() }}
{% endblock %}

{% block main %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed">
        {% include '@AppBundle/Resources/views/admin/header.html.twig' %}
        <div class="page-container">
            {% include '@AppBundle/Resources/views/admin/sidebar.html.twig' %}


            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="{{ path ('admin_homepage') }}">Admin</a>
                                <i class="fa fa-angle-right"></i>
                            </li>              
                        </ul>
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="#">
                                            <i class="icon-bell"></i> Akcije</a>
                                    </li>                           
                                    <li class="divider"> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE HEADER-->                

                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-body">

                                    {% block body %}

                                    {% endblock %}


                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->                      
                        </div>
                    </div>
                </div>                                     
                <!-- END CONTENT BODY -->
            </div>                            
            {% include   '@AppBundle/Resources/views/admin/footer.html.twig' %}
        </div>  
    </body>  
{% endblock %}


{% block jq %}
    {{ parent() }}


    <script src="{{ asset('public/Admin/jss/datatable.min.js') }}"></script>
    <script src="{{ asset('public/Admin/jss/datatables.min.js') }}"></script>
    <script src="{{ asset('public/Admin/jss/datatables.bootstrap.js') }}"></script>
    <script src="{{ asset('public/Admin/jss/table-datatables-colreorder.min.js') }}"></script>
    <script src="{{ asset('public/Admin/jss/moment.min.js') }}"></script>
    <script src="{{ asset('public/Admin/jss/daterangepicker.min.js') }}"></script>
    <script src="{{ asset('public/Admin/jss/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('public/Admin/jss/bootstrap-timepicker.min.js') }}"></script>
    <script src="{{ asset('public/Admin/jss/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('public/Admin/jss/clockface.js') }}"></script>
    <script src="{{ asset('public/Admin/jss/components-date-time-pickers.min.js') }}"></script>





{% endblock %}

{#
    {% javascripts 

'@jq_admin'                 

                '@AppBundle/Resources/skin/admin/jss/datatable.min.js'
                '@AppBundle/Resources/skin/admin/jss/datatables.min.js'
                '@AppBundle/Resources/skin/admin/jss/datatables.bootstrap.js'

                '@AppBundle/Resources/skin/admin/jss/table-datatables-colreorder.min.js'


                '@AppBundle/Resources/skin/admin/jss/moment.min.js'
                '@AppBundle/Resources/skin/admin/jss/daterangepicker.min.js'
                '@AppBundle/Resources/skin/admin/jss/bootstrap-datepicker.min.js'
                '@AppBundle/Resources/skin/admin/jss/bootstrap-timepicker.min.js'
                '@AppBundle/Resources/skin/admin/jss/bootstrap-datetimepicker.min.js'
                '@AppBundle/Resources/skin/admin/jss/clockface.js'
                '@AppBundle/Resources/skin/admin/jss/components-date-time-pickers.min.js'

    output='jss/compiled/form.js' %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}  
   #}





