
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="{{ path ('admin_homepage') }}">
                <img src="{{ path ('admin_homepage') }}" alt="OK NOVI BEOGRAD" class="logo-default" /> </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN PAGE ACTIONS -->
        <!-- DOC: Remove "hide" class to enable the page header actions -->
        <div class="page-actions">
            <div class="btn-group">
                <button type="button" class="btn btn-circle btn-outline red dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span class="hidden-sm hidden-xs">Kreiraj novi&nbsp;</span>&nbsp;
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{{ path ('company_new') }}">
                            <i class="icon-docs"></i> Kompaniju </a>
                    </li>                
                    <li class="divider"> </li>  
                    
                    <li>
                        <a href="{{ path ('homeslider_new') }}">
                            <i class="icon-docs"></i> Slider na naslovnoj </a>
                    </li>
                    <li>
                        <a href="{{ path ('whyus_new') }}">
                            <i class="icon-docs"></i> Zasto mi </a>
                    </li>
                    <li>
                        <a href="{{ path ('ourservices_new') }}">
                            <i class="icon-docs"></i> Nase usluge </a>
                    </li>
                    <li>
                        <a href="{{ path ('breadcrumps_new') }}">
                            <i class="icon-docs"></i> Slika na svakoj strani </a>
                    </li>
                     <li>
                        <a href="{{ path ('blog_new') }}">
                            <i class="icon-docs"></i> Blog </a>
                    </li>
                    <li class="divider"> </li> 
                    
                    <li>
                        <a href="{{ path ('pricing_new') }}">
                            <i class="icon-docs"></i> Cenovnik </a>
                    </li>
                    <li>
                        <a href="{{ path ('features_new') }}">
                            <i class="icon-docs"></i> Pogodnosti </a>
                    </li>
                    <li class="divider"> </li> 
                    
                    <li>
                        <a href="{{ path ('teammember_new') }}">
                            <i class="icon-docs"></i> Clana tima </a>
                    </li>                   
                    <li>
                        <a href="{{ path ('place_new') }}">
                            <i class="icon-docs"></i> Mesto treniranja </a>
                    </li>  
                    <li>
                        <a href="{{ path ('time_new') }}">
                            <i class="icon-docs"></i> Vreme treniranja </a>
                    </li>
                    <li class="divider"> </li>  
                    
                    <li>
                        <a href="{{ path ('league_new') }}">
                            <i class="icon-docs"></i> Ligu </a>
                    </li>
                    <li>
                        <a href="{{ path ('groupp_new') }}">
                            <i class="icon-docs"></i> Grupu </a>
                    </li>
                    <li>
                        <a href="{{ path ('game_new') }}">
                            <i class="icon-docs"></i> Utakmicu </a>
                    </li>
                    <li>
                        <a href="{{ path ('settresults_new') }}">
                            <i class="icon-docs"></i> Rezutat u setovima </a>
                    </li>
                    <li>
                        <a href="{{ path ('team_new') }}">
                            <i class="icon-docs"></i> Tim </a>
                    </li>
                    <li class="divider"> </li> 
                    <li>
                        <a href="{{ path ('maingallery_new') }}">
                            <i class="icon-docs"></i> Glavnu galeriju </a>
                    </li>
                    <li>
                        <a href="{{ path ('gallerycategory_new') }}">
                            <i class="icon-docs"></i> Kategoriju glavne galerije </a>
                    </li>
                    <li class="divider"> </li> 
                </ul>
            </div>
        </div>
        <!-- END PAGE ACTIONS -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">                   
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">              
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="" />
                                <span class="username username-hide-on-mobile"> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                        {% else %}
                            <a href=" {{ path('fos_user_security_login') }}" class="dropdown-toggle"   data-close-others="true">
                                <img alt="" class="img-circle" src="" />
                                <span class="username username-hide-on-mobile"> {{ 'layout.login'|trans({}, 'FOSUserBundle') }} </span>
                                <i class="fa fa-angle-down"></i>
                            </a>  
                        {% endif %}
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="icon-key"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
