<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->         
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu page-sidebar-menu-closed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start ">
                <a href="{{ path ('admin_homepage') }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Pocetna</span>
                    <span class="arrow"></span>
                </a>                     
            </li>
            <li class="nav-item  ">
                <a href="{{ path ('company_index') }}" class="nav-link nav-toggle">
                    <i class="icon-diamond"></i>
                    <span class="title">Company</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{{ path ('seo_index') }}" class="nav-link ">
                            <span class="title">SEO</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="{{ path ('homeslider_index') }}" class="nav-link nav-toggle">
                    <i class="icon-wallet"></i>
                    <span class="title">Slajder na naslovnoj</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{{ path ('whyus_index') }}" class="nav-link ">
                            <span class="title">Zasto mi</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path ('ourservices_index') }}" class="nav-link ">
                            <span class="title">Nase usluge</span>
                        </a>
                    </li>   
                     <li class="nav-item  ">
                        <a href="{{ path ('breadcrumps_index') }}" class="nav-link ">
                            <span class="title">Slika na svakoj strani</span>
                        </a>
                    </li> 
                    <li class="nav-item  ">
                        <a href="{{ path ('blog_index') }}" class="nav-link ">
                            <span class="title">Blog</span>
                        </a>
                    </li> 
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="{{ path ('pricing_index') }}" class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Cenovnik</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{{ path ('features_index') }}" class="nav-link ">
                            <span class="title">Pogodnosti</span>
                        </a>
                    </li>
                </ul>   
            </li>
            <li class="nav-item  ">
                <a href="{{ path ('teammember_index') }}" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">Clan tima</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path ('place_index') }}" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Mesto treniranja</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{{ path ('time_index') }}" class="nav-link ">
                            <span class="title">Vreme</span>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item  ">
                <a href="{{ path ('league_index') }}" class="nav-link nav-toggle">
                    <i class="icon-briefcase"></i>
                    <span class="title">Liga</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{{ path ('groupp_index') }}" class="nav-link ">
                            <span class="title">Grupa</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path ('game_index') }}" class="nav-link ">
                            <span class="title">Utakmica</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path ('settresults_index') }}" class="nav-link ">
                            <span class="title">Rezultati</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path ('team_index') }}" class="nav-link nav-toggle">
                            <span class="title">Timovi</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item  ">
                <a href="{{ path ('maingallery_index') }}" class="nav-link nav-toggle">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Glavna galerija</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{{ path ('gallerycategory_index') }}" class="nav-link ">
                            <span class="title">Kategorija galerije</span>
                        </a>
                    </li>
                </ul>
            </li>           
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
