<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start active open">
                <a href="{{ path('admin_homepage') }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Admin</span>

                    <span class="arrow open"></span>
                </a>

            </li>
            <li class="nav-item start active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">Sajt</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{{ path('seo_index') }}" class="nav-link ">
                            <span class="title">SEO</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path('company_index') }}" class="nav-link ">
                            <span class="title">Kompanija</span>                           
                        </a>
                    </li>
                     <li class="nav-item  ">
                        <a href="{{ path('homeslider_index') }}" class="nav-link ">
                            <span class="title">Slajder na naslovnoj</span>                           
                        </a>
                    </li>
                     <li class="nav-item  ">
                        <a href="{{ path('whyus_index') }}" class="nav-link ">
                            <span class="title">Zasto mi na naslovnoj</span>                           
                        </a>
                    </li>
                    
                      <li class="nav-item  ">
                        <a href="{{ path('maingallery_index') }}" class="nav-link ">
                            <span class="title">glavna galerija</span>                           
                        </a>
                    </li>
                    
                      <li class="nav-item  ">
                        <a href="{{ path('gallerycategory_index') }}" class="nav-link ">
                            <span class="title">Kategorija glavne galerije</span>                           
                        </a>
                    </li>
                     <li class="nav-item  ">
                        <a href="{{ path('ourservices_index') }}" class="nav-link ">
                            <span class="title">Nase usluge</span>                           
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item start active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">Timtrenera</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{{ path('teammember_index') }}" class="nav-link ">
                            <span class="title">Treneri</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path('membergallery_index') }}" class="nav-link ">
                            <span class="title">Galerija trenera</span>                           
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start active open ">
                <a href="{{ path('place_index') }}" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">lokacija</span>
                    <span class="arrow open"></span>
                </a>            
            </li>
            <li class="nav-item start active open ">
                <a href="{{ path('galerry_index') }}" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Galerija</span>
                    <span class="arrow open"></span>
                </a>            
            </li>

            <li class="nav-item start active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">Cenovnik</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{{ path('pricing_index') }}" class="nav-link ">
                            <span class="title">Cene</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path('features_index') }}" class="nav-link ">
                            <span class="title">Pogodnosti</span>                           
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item start active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">Takmicenje</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{{ path('league_index') }}" class="nav-link ">
                            <span class="title">Liga</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path('groupp_index') }}" class="nav-link ">
                            <span class="title">Grupe</span>                           
                        </a>
                    </li>

                    <li class="nav-item  ">
                        <a href="{{ path('team_index') }}" class="nav-link ">
                            <span class="title">Timovi</span>                           
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path('game_index') }}" class="nav-link ">
                            <span class="title">Utakmice</span>                           
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path('settresults_index') }}" class="nav-link ">
                            <span class="title">Rezultat u setovima</span>                           
                        </a>
                    </li>

                    <li class="nav-item  ">
                        <a href="{{ path('leaguegallery_index') }}" class="nav-link ">
                            <span class="title">Glerija lige</span>                           
                        </a>
                    </li>
                </ul>          
            <li class="nav-item start active open ">
                <a href="{{ path('time_index') }}" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Vreme</span>
                    <span class="arrow open"></span>
                </a>            
            </li>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
