{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block thead %}
    <h1>Pricings list</h1>

    <table class="table table-striped table-bordered table-hover js-table" id="sample_1"  >
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Pogodnosti</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% endblock %}

    {% block tbody %}
        <tbody>
        {% for pricing in pricings %}
            <tr>
                <td><a href="{{ path('pricing_show', { 'slug': pricing.slug }) }}">{{ pricing.name }}</a></td>
                <td>{{ pricing.price }}</td>
                <td>{{ pricing.description }}</td>
                <td>
                {% for feature in pricing.features %}
                    {{ feature.features }},
                {% endfor %}
                </td>
                <td class="btn-group btn-group-circle btn-group-solid"> 
                            <a href="{{ path('pricing_show', { 'slug': pricing.slug }) }}"  class="btn blue">show</a>
                            <a href="{{ path('pricing_edit', { 'slug': pricing.slug }) }}" class="btn yellow">edit</a>
                            <a class="btn red 
                           js-delete-row"  
                           href="#"                          
                           data-url="{{ path ('pricing_delete', {'slug':pricing.slug}) }}"
                           >delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('pricing_new') }}" class="btn btn-circle green">Create a new pricing</a>
   
{% endblock %}

