{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block tbody %}
    <h1>Pricing</h1>

    <table  class="table table-striped table-bordered table-hover" id="sample_1">
        <tbody>        
            <tr>
                <th>Name</th>
                <td>{{ pricing.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ pricing.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pricing.description }}</td>
            </tr>
            <tr>
                <th>Pogodnosti</th>
                <td>
                    {% for feature in pricing.features %}
                        {{ feature.features }},
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
    <div  class="btn-group btn-group-circle btn-group-solid">
        <a href="{{ path('pricing_index') }}" class="btn green">Back to the list</a>
        <a href="{{ path('pricing_edit', { 'slug': pricing.slug }) }}" class="btn yellow">Edit</a>
        <input type="submit" value="Delete" class="btn red">
    </div>
    {{ form_end(delete_form) }}

{% endblock %}
