{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block tbody %}
    <h1>League</h1>

     <table  class="table table-striped table-bordered table-hover" id="sample_1">
        <tbody>
            <tr>
                <th>League</th>
                <td>{{ league.league }}</td>         
            </tr>
            <tr>
                <th>Grupa</th>
                <td>
                    {% for groupp in league.groupp %}
                        {{ groupp.groupp }},
                    {% endfor %}
                </td>              
            </tr>
        </tbody>
    </table>

      
            {{ form_start(delete_form) }}
            <div  class="btn-group btn-group-circle btn-group-solid">
            <a href="{{ path('league_index') }}"class="btn green" >Back to the list</a>
            <a href="{{ path('league_edit', { 'id': league.id }) }}" class="btn yellow">Edit</a>
            <input type="submit" value="Delete" class="btn red">
            </div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
