{% extends 'base.html.twig' %}

{% block body %}
    <h1>Times list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Day</th>
                <th>Begin</th>
                <th>End</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for time in times %}
            <tr>
                <td><a href="{{ path('time_show', { 'id': time.id }) }}">{{ time.id }}</a></td>
                <td>{% if time.date %}{{ time.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ time.day }}</td>
                <td>{% if time.begin %}{{ time.begin|date('H:i:s') }}{% endif %}</td>
                <td>{% if time.end %}{{ time.end|date('H:i:s') }}{% endif %}</td>
                <td>{% if time.created %}{{ time.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if time.updated %}{{ time.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('time_show', { 'id': time.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('time_edit', { 'id': time.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('time_new') }}">Create a new time</a>
        </li>
    </ul>
{% endblock %}
