{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block tbody %}
    <h1>Team</h1>

    <table  class="table table-striped table-bordered table-hover" id="sample_1">
        <tbody>
            <tr>
                <th>Liga</th>
                <td>{{ team.groupp.league.league }}</td>
            </tr>
             <tr>
                <th>Grupa</th>
                <td>{{ team.groupp.groupp }}</td>
            </tr>
            <tr>
                <th>Team</th>
                <td>{{ team.team }}</td>
            </tr>           
        </tbody>
    </table>


    {{ form_start(delete_form) }}
    <div  class="btn-group btn-group-circle btn-group-solid">
        <a href="{{ path('team_index') }}" class="btn green">Back to the list</a>
        <a href="{{ path('team_edit', { 'id': team.id }) }}" class="btn yellow">Edit</a>
        <input type="submit" value="Delete" class="btn red">
    </div>
    {{ form_end(delete_form) }}

{% endblock %}
