{% extends '@AppBundle/Resources/views/admin/tableBase.html.twig' %}

{% block body %}
    <h1>Games list</h1>

    <table>
        <thead>
            <tr>
                <th>Bodteam1</th>
                <th>Bodteam2</th>
                <th>Setteam1</th>
                <th>Setteam2</th>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('game_show', { 'id': game.id }) }}">{{ game.bodTeam1 }}</a></td>
                <td>{{ game.bodTeam2 }}</td>
                <td>{{ game.setTeam1 }}</td>
                <td>{{ game.setTeam2 }}</td>
                <td>{{ game.id }}</td>
                <td>{% if game.created %}{{ game.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if game.updated %}{{ game.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('game_show', { 'id': game.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('game_edit', { 'id': game.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('game_new') }}">Create a new game</a>
        </li>
    </ul>
{% endblock %}
