{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block thead %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Alt</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
       {% endblock %}

{% block tbody %}
        {% for galerry in galerries %}
            <tr>
                <td><a href="{{ path('galerry_show', { 'id': galerry.id }) }}">{{ galerry.id }}</a></td>
                <td>{{ galerry.url }}</td>
                <td>{{ galerry.alt }}</td>
                <td>{% if galerry.created %}{{ galerry.created|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if galerry.updated %}{{ galerry.updated|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('galerry_show', { 'id': galerry.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('galerry_edit', { 'id': galerry.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('galerry_new') }}">Create a new galerry</a>
        </li>
    </ul>
{% endblock %}
