{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block thead %}
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ galerry.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ galerry.url }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ galerry.alt }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if galerry.created %}{{ galerry.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if galerry.updated %}{{ galerry.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('galerry_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('galerry_edit', { 'id': galerry.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
