{% extends '@AppBundle/Resources/views/front/base.html.twig' %}

{% block SEO %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% for BreadCrump in BreadCrumps if BreadCrump.name == 'O nama' %}
        <title>{{ BreadCrump.titletag }}</title>
        <meta name="description" content="{{ BreadCrump.description }}" />
    {% endfor %}
{% endblock %}

{% block body %}
    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
        {% include '@AppBundle/Resources/views/front/header.html.twig' %}
        <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
             {% for BreadCrump in BreadCrumps if BreadCrump.name == 'O nama' %}
                 {% for mainGallery in BreadCrump.mainGallery %}
                     style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }})">
                 {% endfor %}
                 <div class="c-breadcrumbs-wrapper">
                     <div class="container">
                         <div class="c-page-title c-pull-left">
                             <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{BreadCrump.name}}</h3>
                         </div>
                         <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                             <li><a href="{{ path ('home') }}" class="c-font-white">Naslovna</a></li>
                             <li class="c-font-white">/</li>
                             <li><a href="#" class="c-font-white">{{BreadCrump.name}}</a></li>
                         </ul>
                     </div>
                 </div>
             {% endfor %}
        </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->

        <!-- BEGIN: CONTENT/MISC/ABOUT-1 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 wow animated fadeInLeft">						
                        <!-- Begin: Title 1 component -->
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold">O nama</h3>
                            <div class="c-line-left c-theme-bg"></div>
                        </div>
                        <!-- End-->
                        {% for company in companies %}
                            <p>{{ company.description }}</p>
                        {% endfor %}

                    </div>
                    <div class="col-sm-6 wow animated fadeInRight">
                        <div class="c-content-client-logos-1">
                            <!-- Begin: Title 1 component -->
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">Sponzori</h3>
                                <div class="c-line-left c-theme-bg"></div>
                            </div>
                            <!-- End-->
                            <div class="c-logos">
                                <div class="row">
                                    <div class="col-md-4 col-xs-6 c-logo c-logo-1">
                                        <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client1.jpg" alt=""/></a>
                                    </div>
                                    <div class="col-md-4 col-xs-6 c-logo c-logo-2">
                                        <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client2.jpg" alt=""/></a>
                                    </div>
                                    <div class="col-md-4 col-xs-6 c-logo c-logo-3">
                                        <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client3.jpg" alt=""/></a>
                                    </div>
                                    <div class="col-md-4 col-xs-6 c-logo c-logo-4">
                                        <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client4.jpg" alt=""/></a>
                                    </div>
                                    <div class="col-md-4 col-xs-6 c-logo c-logo-5">
                                        <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client5.jpg" alt=""/></a>
                                    </div>
                                    <div class="col-md-4 col-xs-6 c-logo c-logo-6">
                                        <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client6.jpg" alt=""/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div><!-- END: CONTENT/MISC/ABOUT-1 -->
        {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
    </body>
    <!-- END: PAGE CONTAINER -->

{% endblock %}     