{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block SEO %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Vesti' %}
        <title>{{ BreadCrump.titletag }}</title>
        <meta name="description" content="{{ BreadCrump.description }}" />
    {% endfor %}
{% endblock %}

{% block body %}
    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
        {% include '@AppBundle/Resources/views/front/header.html.twig' %}
        <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
             {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Vesti' %}
                 {% for mainGallery in BreadCrump.mainGallery %}
                     style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }})">
                 {% endfor %}
                 <div class="c-breadcrumbs-wrapper">
                     <div class="container">
                         <div class="c-page-title c-pull-left">
                             <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{BreadCrump.name}}</h3>
                         </div>
                         <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                             <li><a href="{{ path ('home') }}" class="c-font-white">Naslovna</a></li>
                             <li class="c-font-white">/</li>
                             <li><a href="#" class="c-font-white">{{BreadCrump.name}}</a></li>
                         </ul>
                     </div>
                 </div>
             {% endfor %}
        </div>
        <div class="c-content-box c-size-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="c-content-blog-post-card-1-grid">
                            <div class="row">
                                {% for blog in AllBlog %}
                                    {% for mainGallery in blog.mainGallery if mainGallery.mainBlogPicture %}
                                        <div class="col-md-6">
                                            <div class="c-content-blog-post-card-1 c-option-2 c-bordered">			  			
                                                <div class="c-media c-content-overlay">

                                                    <div class="c-overlay-wrapper">
                                                        <div class="c-overlay-content">
                                                            <a href="{{ path ('blog', {'slug' : blog.slug }) }}"><i class="icon-link"></i></a>
                                                            <a href="{{ vich_uploader_asset(mainGallery, 'imageFile') }}" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                                <i class="icon-magnifier"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <img class="c-overlay-object img-responsive" src="{{ vich_uploader_asset(mainGallery, 'imageFile') }}" alt="">

                                                </div>
                                                <div class="c-body">
                                                    <div class="c-title c-font-bold c-font-uppercase">
                                                        <a href="{{ path ('blog', {'slug' : blog.slug }) }}">{{ blog.title }}</a>
                                                    </div>
                                                    <div class="c-author">
                                                        {% if blog.updated %}
                                                            Azuriran <span class="c-font-uppercase">{{ blog.updated |date('d-m-Y')}}</span>
                                                        {% else %}
                                                            Kreiran <span class="c-font-uppercase">{{ blog.created |date('d-m-Y')}}</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="c-panel">
                                                        <ul class="c-tags c-theme-ul-bg">
                                                            <li>ux</li>
                                                            <li>web</li>
                                                            <li>events</li>
                                                        </ul>							
                                                    </div>
                                                    <p> {{ blog.description [:200] |raw }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>

                            <div class="c-pagination">
                                <ul class="c-content-pagination c-theme">
                                    <li class="c-prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li class="c-active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li class="c-next"><a href="#"><i class="fa fa-angle-right"></i></a></li>							
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->




                        <div class="c-content-tab-1 c-theme c-margin-t-30">
                            <div class="nav-justified">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#blog_recent_posts" data-toggle="tab">Najnovije vesti</a></li>
                                    <li><a href="#blog_popular_posts" data-toggle="tab">Popularne vesti</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="blog_recent_posts">

                                        <ul class="c-content-recent-posts-1">
                                            {% for blog in AllBlog  if blog.created %}
                                                {% for mainGallery in blog.mainGallery if mainGallery.mainBlogPicture %}
                                                    <li>

                                                        <div class="c-image">

                                                            <img src="{{ vich_uploader_asset(mainGallery, 'imageFile') }}" alt="{{ mainGallery.alt }}" class="img-responsive">

                                                        </div>

                                                        <div class="c-post">
                                                            <a href="{{ path ('blog', {'slug' : blog.slug }) }}" class="c-title">
                                                                {{ blog.title  }}
                                                            </a>
                                                            {% if blog.updated %}
                                                                <div class="c-date">{{ blog.updated |date('d-m-Y') }}</div>
                                                            {% else %}
                                                                <div class="c-date">{{ blog.created |date('d-m-Y') }}</div>
                                                            {% endif %}
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="blog_popular_posts">
                                        <ul class="c-content-recent-posts-1">
                                            <li>
                                                <div class="c-image">
                                                    <img src="../../assets/base/img/content/stock/34.jpg" class="img-responsive" alt=""/>
                                                </div>
                                                <div class="c-post">
                                                    <a href="" class="c-title">
                                                        UX Design Expo 2015... 
                                                    </a>
                                                    <div class="c-date">27 Jan 2015</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
            </div> 
        </div>                                        
        <!-- BEGIN: PAGE CONTAINER -->
        {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
    </body>

{% endblock %}