{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block SEO %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Takmicenja' %}
        <title>{{ BreadCrump.titletag }}</title>
        <meta name="description" content="{{ BreadCrump.description }}" />
    {% endfor %}
{% endblock %}

{% block body %}
    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
        {% include '@AppBundle/Resources/views/front/header.html.twig' %}

        <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
             {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Takmicenja' %}
                 {% for mainGallery in BreadCrump.mainGallery %}
                     style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }})">
                 {% endfor %}
                 <div class="c-breadcrumbs-wrapper">
                     <div class="container">
                         <div class="c-page-title c-pull-left">
                             <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{BreadCrump.name}}</h3>
                         </div>
                         <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                             <li><a href="{{ path ('home') }}" class="c-font-white">Naslovna</a></li>
                             <li class="c-font-white">/</li>
                             <li><a href="#" class="c-font-white">{{BreadCrump.name}}</a></li>
                         </ul>
                     </div>
                 </div>
             {% endfor %}
        </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->

        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->

            <div class="c-content-box c-size-md c-bg-grey-1">
                <div class="container">
                    <!-- Begin: Testimonals 1 component -->
                    <div class="c-content-team-1-slider" data-slider="owl" data-items="3">
                        <!-- Begin: Title 1 component -->
                        <div class="c-content-title-1">
                            <h3 class="c-center c-font-uppercase c-font-bold">Takmičenja</h3>
                            <div class="c-line-center c-theme-bg"></div>
                        </div>
                        <!-- End-->
                        <div class="row">
                            {% for league in leagues %}
                                <div class="col-md-4 col-sm-6 c-margin-b-30">
                                    <div class="c-content-person-1 c-option-2">
                                        <div class="c-caption c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="{{ path('league_detail', { 'slug': league.slug}) }}"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                            {% for mainGallery in league.mainGallery %}
                                                <img class="c-overlay-object img-responsive" src="{{ vich_uploader_asset(mainGallery, 'imageFile') }}" alt="{{ mainGallery.alt }}">
                                            {% endfor %}
                                        </div>
                                        <div class="c-body">
                                            <div class="c-head">
                                                <div class="c-name c-font-uppercase c-font-bold">
                                                    <a href="{{ path('league_detail', { 'slug': league.slug}) }}">{{league.league}}</a>
                                                </div>                                   
                                            </div>
                                            <div class="c-position">
                                                {% for groupp in league.groupp %}
                                                    {{groupp.groupp }};
                                                {% endfor %}
                                            </div>
                                            <p>
                                                {{ league.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <!-- End-->
                        </div>
                        <!-- End-->
                    </div>
                </div><!-- END: CONTENT/MISC/TEAM-3 -->

                <!-- END: PAGE CONTENT -->
            </div>            
        </div>
        <!-- END: PAGE CONTAINER -->
        {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
    </body>

{% endblock %}      