{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block SEO %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Raspored treninga' %}
        <title>{{ BreadCrump.titletag }}</title>
        <meta name="description" content="{{ BreadCrump.description }}" />
    {% endfor %}
{% endblock %}

{% block body %}
    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
        {% include '@AppBundle/Resources/views/front/header.html.twig' %}

        <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
             {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Raspored treninga' %}
                 {% for mainGallery in BreadCrump.mainGallery %}
                     style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }})">
                 {% endfor %}
                 <div class="c-breadcrumbs-wrapper">
                     <div class="container">
                         <div class="c-page-title c-pull-left">
                             <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{BreadCrump.name}}</h3>
                         </div>
                         <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                             <li><a href="{{ path ('home') }}" class="c-font-white">Naslovna</a></li>
                             <li class="c-font-white">/</li>
                             <li><a href="#" class="c-font-white">{{BreadCrump.name}}</a></li>
                         </ul>
                     </div>
                 </div>

             {% endfor %}
        </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->


        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                {% for place in places if place.treaningPlace %} 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="c-content-media-1 c-bordered wow animated fadeInLeft" style="min-height: 380px;">
                                <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">{{ place.adress }}</div>
                                <a href="{{ path('place_detail', { 'slug': place.slug}) }}" class="c-title c-font-uppercase c-theme-on-hover c-font-bold">{{ place.title }}</a>
                                <p>{{ place.description [:20] | raw}}</p>
                                <div class="c-author">
                                    {% for member in place.member %}
                                        {% for mainGallery in member.mainGallery if mainGallery.mainTeamMemberPicture  %}
                                            <div class="c-portrait" style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }})"></div>
                                        {% endfor %}
                                        <a href="{{ path('trener_detail', { 'slug': member.slug}) }}" class="c-name c-font-uppercase">{{ member.name }}</a>
                                    {% endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">		
                            <div class="c-content-media-2-slider wow animated fadeInRight" data-slider="owl">
                                <div class="c-content-label c-font-uppercase c-font-bold">Lokacija</div>						
                                <div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-navigation-dots="true" data-auto-play="4000" data-rtl="false">						
                                    {% for mainGallery in place.mainGallery %}   
                                        <div class="c-content-media-2 c-bg-img-center" style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }}); min-height: 380px;"></div>
                                    {% endfor %}
                                </div>
                            </div>		
                        </div>
                    </div>

                {% endfor %} 
            </div>
        </div>
        <!-- END: PAGE CONTAINER -->
        {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
    </body>

{% endblock %}        