{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block body %}
    {% include '@AppBundle/Resources/views/front/header.html.twig' %}
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">
    <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
         style="background-image: url(../../public/Front/images/volleyball-1034436_1920.jpg)">
    <div class="c-breadcrumbs-wrapper">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">Tim trenera</h3>
                <h4 class="c-font-white c-font-thin c-opacity-09">Tim</h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="javascript:;" class="c-font-white">Naslovna</a></li>
                <li class="c-font-white">/</li>
                <li><a href="#" class="c-font-white">Tim trenera</a></li>
            </ul>
        </div>
    </div>
</div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    
    
    <!-- BEGIN: PAGE CONTAINER -->
    <div class="c-layout-page">
        <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->

     
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: BLOG LISTING -->
        <div class="c-content-box c-size-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% for place in places %} 
                            <div class="c-content-blog-post-1-list">
                                <div class="c-content-blog-post-1">
                                    <div class="c-media">
                                        <div class="c-content-media-2-slider" data-slider="owl"> 
                                            <div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-auto-play="4000" data-rtl="false">
                                                {% for place in place.galerry %}
                                                    <div class="item">
                                                        <div class="c-content-media-2" style="min-height: 460px;">
                                                            <img src="{{ vich_uploader_asset(place, 'imageFile') }}" alt="{{ place.alt }}" />
                                                        </div> 
                                                    </div>  
                                                {% endfor %} 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="{{ path('place_detail', {'id': place.id, 'name': place.title}) }}">{{ place.title }}</a>
                                    </div>
                                    <div class="c-desc">
                                        {{ place.description }}
                                        <a href="{{ path('place_detail', {'id': place.id, 'name': place.title}) }}">više</a>
                                    </div>
                                    <div class="c-panel">
                                        <div class="c-author"><a href="#">By <span class="c-font-uppercase">Nick Strong</span></a></div>
                                        <div class="c-date">on <span class="c-font-uppercase">{{place.created | date('d-m-Y') }}</span></div>                                      					                              
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
        <!-- END: BLOG LISTING  -->
        <!-- END: PAGE CONTENT -->
    </div>
    <!-- END: PAGE CONTAINER -->
    </body>
    {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
{% endblock %}        