{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block SEO %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Vest' %}
        <title>{{ BreadCrump.titletag }}</title>
        <meta name="description" content="{{ BreadCrump.description }}" />
    {% endfor %}
{% endblock %}


{% block body %}
    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
        {% include '@AppBundle/Resources/views/front/header.html.twig' %}
        <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
             {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Vest' %}
                 {% for mainGallery in BreadCrump.mainGallery %}
                     style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }})">
                 {% endfor %}
                 <div class="c-breadcrumbs-wrapper">
                     <div class="container">
                         <div class="c-page-title c-pull-left">
                             <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{BreadCrump.name}}</h3>
                         </div>
                         <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                             <li><a href="{{ path ('home') }}" class="c-font-white">Naslovna</a></li>
                             <li class="c-font-white">/</li>
                             <li><a href="#" class="c-font-white">{{BreadCrump.name}}</a></li>
                         </ul>
                     </div>
                 </div>           
             {% endfor %}
        </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-content-blog-post-1-view">
                                <div class="c-content-blog-post-1">
                                    <div class="c-media">
                                        <div class="c-content-media-2-slider" data-slider="owl">
                                            <div class="owl-carousel owl-theme c-theme owl-single" data-rtl="false" data-single-item="true" data-auto-play="4000">
                                                {% for mainGallery in blog.mainGallery %} 
                                                    <div class="item">
                                                        <div class="c-content-media-2" style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }}); min-height: 460px;"></div>
                                                    </div>
                                                {% endfor %}                                 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="#">{{ blog.title }}</a>
                                    </div>
                                    <div class="c-panel c-margin-b-30">   
                                        {% if blog.updated %}
                                            <div class="c-date">Azuriran <span class="c-font-uppercase">{{ blog.updated |date('d-m-Y')}}</span></div>
                                            {% else %}
                                            <div class="c-date">Kreiran <span class="c-font-uppercase">{{ blog.created |date('d-m-Y')}}</span></div>
                                            {% endif %}                                    						                                                                                
                                    </div>
                                    <div class="c-desc">
                                        <p>{{ blog.description |raw }}</p>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                   {#     <div class="col-md-3">
                            <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                            <div class="nav-justified">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#blog_recent_posts" data-toggle="tab">Najnovije vesti</a></li>
                                    <li><a href="#blog_popular_posts" data-toggle="tab">Popularne vesti</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="blog_recent_posts">
                                        <ul class="c-content-recent-posts-1">
                                            {% for blo in blogs  if blo.created %}
                                                {% for mainGallery in blo.mainGallery if mainGallery.mainBlogPicture %}
                                                    <li>
                                                        <div class="c-image">

                                                            <img src="{{ vich_uploader_asset(mainGallery, 'imageFile') }}" alt="{{ mainGallery.alt }}" class="img-responsive">

                                                        </div>
                                                        <div class="c-post">
                                                            <a href="{{ path ('blog', {'slug' : blog.slug }) }}" class="c-title">
                                                                {{ blo.title  }}
                                                            </a>
                                                            {% if blo.updated %}
                                                                <div class="c-date">{{ blo.updated |date('d-m-Y')}}</div>
                                                            {% else %}
                                                                <div class="c-date">{{ blo.created |date('d-m-Y')}}</div>
                                                            {% endif %}
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="blog_popular_posts">
                                        <ul class="c-content-recent-posts-1">
                                            <li>
                                                <div class="c-image">
                                                    <img src="../../assets/base/img/content/stock/34.jpg" class="img-responsive" alt=""/>
                                                </div>
                                                <div class="c-post">
                                                    <a href="" class="c-title">
                                                        UX Design Expo 2015... 
                                                    </a>
                                                    <div class="c-date">27 Jan 2015</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> #}
                    </div> 
                </div>
            </div>
        </div>
        {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
    </body>

{% endblock %}