{% block footer %}

<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
    <div class="c-prefooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="c-container c-first">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold c-font-white">NOVI<span class="c-theme-font">BEOGRAD</span></h3>
                            <div class="c-line-left hide"></div>
                            
                        </div>
                        <ul class="c-links">
                            <li><a href="{{ path('home') }}">Naslovna</a></li>
                            <li><a href="{{ path('team') }}">Tim trenera</a></li>
                            <li><a href="{{ path('place') }}"">Raspored treninga</a></li>
                            <li><a href="{{ path('pricing') }}"">Cenovnik</a></li>
                            <li><a href="{{ path('league') }}">Takmicenja</a></li>
                            <li><a href="{{ path('allblog') }}">Vesti</a></li>
                            <li><a href="{{ path('about') }}">O nama</a></li>
                            <li><a href="{{ path('contact') }}">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
                 

                <div class="col-md-6">
                    <div class="c-container c-last">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold c-font-white">Budimo u kontaktu</h3>
                            <div class="c-line-left hide"></div>
                            <p>Odbojkaški klub Novi Beograd osnovan je u martu 2007. godine. 
                                Sve do danas uspešno se bavimo sportskom edukacijom dece, 
                                kao i takmičarskim aktivnostima koje su organizovane na nivou grada Beograda.</p>
                        </div>
                        <ul class="c-socials">
                            <li><a href="https://www.facebook.com/oknovibeograd/"><i class="fa fa-facebook"></i></a></li>   
                            <li><a href="https://plus.google.com/b/102461848503559434006/"><i class="fa fa-google-plus"></i></a></li> 
                            <li><a href="https://www.instagram.com/ok_novi_beograd/"><i class="fa fa-instagram"></i></a></li> 
                           
                        </ul>
                        <ul class="c-address">
                            <li><i class="icon-pointer c-theme-font"></i> Palmira Toljatija 5</li>
                            <li><i class="icon-call-end c-theme-font"></i> 060 33 86 930</li>
                            <li><i class="icon-envelope c-theme-font"></i> office@oknovibeograd.rs</li>
                        </ul>
                    </div>
                </div>
            </div>		
        </div>
    </div>
    <div class="c-postfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 c-col">
                    <p class="c-copyright c-font-grey">2017 <a href="https://www.linkedin.com/in/sasa-milivojevic-a4a0609b/" >Sasa Milivojevic</a> &copy; OK Novi Beograd
                        <span class="c-font-grey-3">Prava zadrzana</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer><!-- END: LAYOUT/FOOTERS/FOOTER-5 -->

<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
<div class="c-layout-go2top">
    <i class="icon-arrow-up"></i>
</div><!-- END: LAYOUT/FOOTERS/GO2TOP -->

{% endblock %}