{% extends '@AppBundle/Resources/views/front/base.html.twig' %}

{% block body %}

    <body class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-fullscreen"> 

        {% include '@AppBundle/Resources/views/front/header.html.twig' %}
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-8 -->
        <section class="c-layout-revo-slider c-layout-revo-slider-8" dir="ltr">
            <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
                <div class="tp-banner rev_slider" data-version="5.0">
                    <ul>
                        {% for homeSlider in homeSliders %}
                            <!--BEGIN: SLIDE #1 -->
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">			
                                <img 
                                    alt="{{ homeSlider.alt }}" 
                                    src="{{ vich_uploader_asset(homeSlider, 'imageFile') }}"
                                    data-bgposition="center center" 
                                    data-bgfit="cover" 
                                    data-bgrepeat="no-repeat"
                                    >	
                                <!--BEGIN: MAIN TITLE -->
                                <div class="tp-caption customin customout"  
                                     data-x="center" 
                                     data-y="center"
                                     data-hoffset="" 
                                     data-voffset="-30"

                                     data-speed="500" 
                                     data-start="1000" 
                                     data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" 
                                     data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" 
                                     data-easing="Back.easeOut" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-elementdelay="0.1" 
                                     data-endelementdelay="0.1" 
                                     data-endspeed="600" 

                                     >
                                    <h3 class="c-main-title c-font-60 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                        {{ homeSlider.mainTitle }}
                                    </h3>
                                </div>
                                <!--END -->

                                <!--BEGIN: ACTION BUTTON -->
                                <div class="tp-caption randomrotateou"  
                                     data-x="center" 
                                     data-y="center" 
                                     data-hoffset=""
                                     data-voffset="200"
                                     data-speed="300" 
                                     data-start="1500"
                                     data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Back.easeInOut;" 
                                     data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Back.easeInOut;" >

                                </div>
                                <!--END -->

                                <!--BEGIN: SUB TITLE -->
                                <div class="tp-caption customin customout"  
                                     data-x="center" 
                                     data-y="bottom"
                                     data-hoffset="0" 
                                     data-voffset="0"
                                     data-width="full"
                                     data-basealign="slide"
                                     data-speed="500" 
                                     data-start="1800" 
                                     data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" 
                                     data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" 
                                     data-easing="Back.easeOut" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-elementdelay="0.1" 
                                     data-endelementdelay="0.1" 
                                     data-endspeed="600" 
                                     style="width: 100%;"
                                     >
                                    <div class="c-action-bar">
                                        <div class="container">
                                            <div class="c-content ">
                                                <h3 class="c-font-30 c-font-sbold c-font-white">
                                                    {{ homeSlider.subTitle }}
                                                </h3>
                                                <p class="c-font-20 c-font-thin c-font-white c-opacity-08">
                                                    {{ homeSlider.subTitleDescription }}
                                                </p>
                                            </div>
                                            <div class="c-btn-container">
                                                <a href="{{ homeSlider.CallToActionLink }}" class="btn c-action-btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">{{ homeSlider.CallToActionButton }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--END -->
                            </li>
                        {% endfor %}
                        <!--END --> 
                    </ul>
                </div>
            </div>
        </section><!-- END: LAYOUT/SLIDERS/REVO-SLIDER-8 -->

        <!-- BEGIN: CONTENT/MISC/WHY-CHOOSE-US-1 -->
        <div class="c-content-box c-size-lg c-bg-grey-1">
            <div class="container">
                <div class="">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="c-content-feature-5">
                                <div class="c-content-title-1 wow amimate fadeInDown">
                                    <h3 class="c-left c-font-dark c-font-uppercase c-font-bold">OK<br/>NBG</h3>
                                    <div class="c-line-left c-bg-blue-3 c-theme-bg"></div>
                                </div>
                                <div class="c-text wow animate fadeInLeft">
                                    OK Novi Beograd vrši upis novih članova tokom cele godine. 
                                </div>
                                <button type="submit" class="btn c-btn-uppercase btn-md c-btn-bold c-btn-square c-theme-btn wow animate fadeIn">Explore</button>
                                <img class="c-photo img-responsive wow animate fadeInUp" width="420" alt="" src="{{ asset ('images/why us.jpg') }}"/>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="c-content-accordion-1 c-theme wow animate fadeInRight">
                                <div class="panel-group" id="accordion" role="tablist">
                                    {% for whyU in whyuses | slice(2,1)  %}  
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a class="c-font-bold c-font-uppercase c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        {{  whyU.title }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body c-font-18">
                                                    {{  whyU.description }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% for whyU in whyuses | slice(1,1)  %}  
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        {{  whyU.title }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body c-font-18">
                                                    {{  whyU.description }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% for whyU in whyuses | slice(0,1)  %}  
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        {{  whyU.title }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body c-font-18">
                                                    {{  whyU.description }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT/MISC/WHY-CHOOSE-US-1 -->

        <!-- BEGIN: CONTENT/ISOTOPE/GRID-2 -->
        <div class="c-content-box c-size-md c-bg-img-center" style="background-image: url(../../../web/public/Front/images/volleyball-1034436_1920.jpg)">
            <div class="container">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Galerije</h3>
                    <div class="c-line-center c-theme-bg"></div>
                    <p class="c-font-center c-font-grey-3">Galerije kluba</p>
                </div>
                <div class="c-content-isotope-grid c-opt-2">
                    {% for mainPicture in mainPictures %}      
                        <div class="c-content-isotope-item">
                            <div class="c-content-isotope-image-container">
                                <img class="c-content-isotope-image" src="{{ vich_uploader_asset(mainPicture, 'imageFile') }}"/>
                                <div class="c-content-isotope-overlay">
                                    <div class="c-content-isotope-overlay-content">
                                        <h3 class="c-content-isotope-overlay-title c-font-white c-font-uppercase">{{ mainPicture.title }}</h3>
                                        <p class="c-content-isotope-overlay-desc c-font-white"> {{ mainPicture.description }}</p>
                                        <a href="javascript:;" class="c-content-isotope-overlay-btn btn c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div> 
        </div><!-- END: CONTENT/ISOTOPE/GRID-2 -->

        <!-- BEGIN: CONTENT/MISC/SERVICES-3 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-feature-2-grid">
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-center c-font-bold">Zasto smo najbolji</h3>
                        <div class="c-line-center"></div>
                    </div>
                    <div class="row">
                        {% for ourService in ourServices %}
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
                                    <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                        <div class="c-content-line-icon c-theme c-icon-screen-{{ourService.icon}}}chart"></div>
                                    </div>
                                    <h3 class="c-font-uppercase c-title">{{ ourService.title }}</h3>
                                    <p>{{ ourService.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div> 
        </div><!-- END: CONTENT/MISC/SERVICES-3 -->

        <!-- BEGIN: CONTENT/FEATURES/FEATURES-4-4 -->
        <!-- BEGIN: FEATURES 4.4 --> 
        <div class="c-content-box c-size-md c-no-padding c-bg-dark-2">
            <div class="c-content-feature-4">
                <div class="c-bg-parallax c-feature-bg c-content-left c-diagonal c-border-right-dark-2" style="background-image: url(../../../web/public/Front/images/volleyball-1034436_1920.jpg)"></div>		
                <div class="c-content-area c-content-right"></div>		
                <div class="container">
                    <div class="c-feature-content c-right">
                        <div class="c-content-v-center">
                            <div class="c-wrapper wow fadeInDown">
                                <div class="c-body c-animate">
                                    <div class="c-content-title-1 animated wow fadeInDown" data-wow-delay="0.2s">
                                        <h3 class="c-font-uppercase c-font-bold c-font-white">Ovo popuniti rucno</h3>
                                        <div class="c-line-right"></div>
                                        <p>Ever growing with constant innovation</p>
                                    </div>
                                    <div class="c-content animated wow fadeInDown" data-wow-delay="0.7s">
                                        <p class="c-margin-b-30">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy tincidunt 
                                            ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud. 
                                        </p>
                                        <button class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold wow animated fadeIn" data-wow-delay="1s">EXPLORE</button> 
                                        <button class="btn btn-lg c-btn-green c-btn-square c-btn-bold wow animated fadeIn" data-wow-delay="1.3s">PURCHASE</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END: FEATURES 4.4 --><!-- END: CONTENT/FEATURES/FEATURES-4-4 -->

        <!-- BEGIN: CONTENT/FEATURES/FEATURES-4-3 -->
        <!-- BEGIN: FEATURES 4.3 --> 
        <div class="c-content-box c-size-md c-no-padding c-bg-white">
            <div class="c-content-feature-4">
                <div class="c-bg-parallax c-feature-bg c-content-right c-diagonal c-border-left-white" style="background-image: url(../../../web/public/Front/images/volleyball-1034436_1920.jpg)"></div>		
                <div class="c-content-area c-content-left"></div>		
                <div class="container">
                    <div class="c-feature-content c-left">
                        <div class="c-content-v-center">
                            <div class="c-wrapper">
                                <div class="c-body">
                                    <div class="c-content-title-1 wow animate fadeInDown">
                                        <h3 class="c-font-uppercase c-font-bold c-left">Ovo isto popuniti rucno</h3>
                                        <div class="c-line-left"></div>
                                        <p class="c-left">JANGO has it all</p>
                                    </div>
                                    <div class="c-content">
                                        <p class="c-margin-b-30 c-left wow animate fadeInDown">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy tincidunt 
                                            ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud. 
                                        </p>
                                        <button class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold wow animate fadeIn">EXPLORE</button> 
                                        <button class="btn btn-lg c-btn-green c-btn-square c-btn-bold wow animate fadeIn" data-wow-delay="0.2s">PURCHASE</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END: FEATURES 4.3 --><!-- END: CONTENT/FEATURES/FEATURES-4-3 -->



        <!-- BEGIN: CONTENT/MISC/LATEST-ITEMS-1 -->
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="row" data-auto-height="true">
                    <div class="col-md-4 c-margin-b-30 wow animate fadeInDown">

                        <div class="imagecontour effect2">
                            <img class="img-responsive" src="../../assets/base/img/content/stock3/18.jpg" alt="service" /> 
                        </div>
                        <!--							
                        <div class="c-content-media-1" data-height="height">
                                <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Blog</div>
                                <a href="#" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">Take the web by storm with JANGO</a>
                                <p>Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat</p>
                                <div class="c-author">
                                        <div class="c-portrait" style="background-image: url(../../assets/base/img/content/team/team1.jpg)"></div>
                                        <div class="c-name c-font-uppercase">Jack Nilson</div>
                                </div>
                        </div> -->
                    </div>
                    <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.2s">
                        <div class="c-content-media-1" data-height="height">
                            <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">News</div>
                            <a href="#" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">The Multi-purpose HTML5 Theme</a>
                            <p>Lorem ipsum dolor sit amet, coectetuer diam nonummy adipiscing elit sit amet, sit amet, coectetuer adipiscing elit adipiscing consectetuer  </p>
                            <div class="c-date">
                                27 Jan 2015
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.4s">		
                        <div class="c-content-media-1 c-content-v-center c-theme-bg" data-height="height">
                            <div class="c-wrapper">
                                <div class="c-body c-center">
                                    <h3 class="c-font-25 c-line-height-34 c-font-white c-font-uppercase c-font-bold">
                                        Nothing is impossible for JANGO. Highly Flexible, always growing</h3>
                                </div>
                            </div>
                        </div>			
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 wow animate fadeInLeft">

                        <div class="c-content-media-2-slider" data-slider="owl">

                            <div class="c-content-label c-font-uppercase c-font-bold">Latest Uploads</div>

                            <div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-auto-play="4000" data-rtl="false">
                                <div class="item">
                                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url(../../assets/base/img/content/stock3/18.jpg); min-height: 360px;">
                                        <div class="c-panel">
                                            <div class="c-fav">
                                                <i class="icon-heart c-font-thin"></i>
                                                <p class="c-font-thin">16</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url(../../assets/base/img/content/stock3/22.jpg); min-height: 360px;">
                                        <div class="c-panel">
                                            <div class="c-fav">
                                                <i class="icon-heart c-font-thin"></i>
                                                <p class="c-font-thin">24</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url(../../assets/base/img/content/stock3/32.jpg); min-height: 360px;">
                                        <div class="c-panel">
                                            <div class="c-fav">
                                                <i class="icon-heart c-font-thin"></i>
                                                <p class="c-font-thin">19</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 wow animate fadeInRight">
                        <div class="c-content-testimonial-2-slider" data-slider="owl">
                            <div class="c-title c-font-uppercase c-theme-bg">Testimonials</div>
                            <div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-auto-play="6000" data-rtl="false">
                                <div class="item">
                                    <div class="c-content-testimonial-2" style="min-height: 360px;">
                                        <div class="c-testimonial c-font-bold c-font-uppercase">JANGO the best HTML theme I've purchased in months!</div>
                                        <div class="c-author">
                                            <div class="c-portrait" style="background-image: url(../../assets/base/img/content/team/team13.jpg)"></div>
                                            <div class="c-name c-font-uppercase">Jim Cook</div>
                                            <p class="c-position c-theme c-font-uppercase">Orange Inc.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-testimonial-2" style="min-height: 360px;">
                                        <div class="c-testimonial c-font-bold c-font-uppercase">Quick and extremely easy to use with awesome customer support</div>
                                        <div class="c-author">
                                            <div class="c-portrait" style="background-image: url(../../assets/base/img/content/team/team6.jpg)"></div>
                                            <div class="c-name c-font-uppercase">Jane Smith</div>
                                            <p class="c-position c-theme c-font-uppercase">Loop Inc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div><!-- END: CONTENT/MISC/LATEST-ITEMS-1 -->

        <!-- BEGIN: CONTENT/SLIDERS/TEAM-1 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <!-- Begin: Testimonals 1 component -->
                <div class="c-content-person-1-slider" data-slider="owl">
                    <!-- Begin: Title 1 component -->
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">Meet The Team</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <!-- End-->

                    <!-- Begin: Owlcarousel -->
                    <div class="owl-carousel owl-theme c-theme c-owl-nav-center" data-rtl="false" data-items="3" data-slide-speed="8000"> 
                        <div class="item">
                            <div class="c-content-person-1">
                                <div class="c-caption c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#"><i class="icon-link"></i></a>
                                            <a href="../../assets/base/img/content/team/person7.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/team/person7.jpg" alt="">
                                </div>
                                <div class="c-body">
                                    <div class="c-head">
                                        <div class="c-name c-font-uppercase c-font-bold">John Doe</div>
                                        <ul class="c-socials c-theme-ul">
                                            <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="c-position">
                                        CEO, Mockingbird
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, dolor adipisicing elit. 
                                        Nulla nemo ad sapiente officia amet.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-person-1">
                                <div class="c-caption c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#"><i class="icon-link"></i></a>
                                            <a href="../../assets/base/img/content/team/person6.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img src="../../assets/base/img/content/team/person6.jpg" class="img-responsive c-overlay-object" alt="">
                                </div>
                                <div class="c-body">
                                    <div class="c-head">
                                        <div class="c-name c-font-uppercase c-font-bold">Jim Raynor</div>
                                        <ul class="c-socials c-theme-ul">
                                            <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="c-position">
                                        Caption, Hyperion
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, dolor adipisicing elit. 
                                        Nulla nemo ad sapiente officia amet.
                                    </p>
                                </div>
                            </div>
                        </div>	
                        <div class="item">
                            <div class="c-content-person-1">
                                <div class="c-caption c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#"><i class="icon-link"></i></a>
                                            <a href="../../assets/base/img/content/team/person5.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img src="../../assets/base/img/content/team/person5.jpg" class="img-responsive c-overlay-object" alt="">
                                </div>
                                <div class="c-body">
                                    <div class="c-head">
                                        <div class="c-name c-font-uppercase c-font-bold">Drake Hiro</div>
                                        <ul class="c-socials c-theme-ul">
                                            <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="c-position">
                                        Entrepreneur
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, dolor adipisicing elit. 
                                        Nulla nemo ad sapiente officia amet.
                                    </p>
                                </div>
                            </div>
                        </div>	
                        <div class="item">
                            <div class="c-content-person-1">
                                <div class="c-caption c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#"><i class="icon-link"></i></a>
                                            <a href="../../assets/base/img/content/team/person4.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img src="../../assets/base/img/content/team/person4.jpg" class="img-responsive c-overlay-object" alt="">
                                </div>
                                <div class="c-body">
                                    <div class="c-head">
                                        <div class="c-name c-font-uppercase c-font-bold">Maxell Heart</div>
                                        <ul class="c-socials c-theme-ul">
                                            <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="c-position">
                                        CTO, Octoberite
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, dolor adipisicing elit. 
                                        Nulla nemo ad sapiente officia amet.
                                    </p>
                                </div>
                            </div>
                        </div>	
                        <div class="item">
                            <div class="c-content-person-1">
                                <div class="c-caption c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#"><i class="icon-link"></i></a>
                                            <a href="../../assets/base/img/content/team/person1.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img src="../../assets/base/img/content/team/person1.jpg" class="img-responsive c-overlay-object" alt="">
                                </div>
                                <div class="c-body">
                                    <div class="c-head">
                                        <div class="c-name c-font-uppercase c-font-bold">Phil Garner</div>
                                        <ul class="c-socials c-theme-ul">
                                            <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="c-position">
                                        CEO, Philly
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, dolor adipisicing elit. 
                                        Nulla nemo ad sapiente officia amet.
                                    </p>
                                </div>
                            </div>
                        </div>			 
                    </div>
                    <!-- End-->
                </div>
                <!-- End-->
            </div>
        </div><!-- END: CONTENT/SLIDERS/TEAM-1 -->

        <!-- BEGIN: CONTENT/BLOG/RECENT-POSTS -->
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <!-- Begin: Testimonals 1 component -->
                <div class="c-content-blog-post-card-1-slider" data-slider="owl">
                    <!-- Begin: Title 1 component -->
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">Recent Blog Posts</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <!-- End-->
                    <!-- Begin: Owlcarousel -->
                    <div class="owl-carousel owl-theme c-theme c-owl-nav-center" data-items="3" data-slide-speed="8000" data-rtl="false"> 
                        <div class="item">
                            <div class="c-content-blog-post-card-1 c-option-2">		
                                <div class="c-media c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#"><i class="icon-link"></i></a>
                                            <a href="../../assets/base/img/content/stock2/06.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/stock2/06.jpg" alt="">
                                </div>
                                <div class="c-body">
                                    <div class="c-title c-font-uppercase c-font-bold">
                                        <a href="#">Web & Mobile Development</a>
                                    </div>
                                    <div class="c-author">
                                        By <a href="#"><span class="c-font-uppercase">Nick Strong</span></a>
                                        on <span class="c-font-uppercase">20 May 2015, 10:30AM</span>
                                    </div>

                                    <div class="c-panel">
                                        <ul class="c-tags c-theme-ul-bg">
                                            <li>ux</li>
                                            <li>web</li>
                                            <li>events</li>
                                        </ul>							
                                        <div class="c-comments"><a href="#"><i class="icon-speech"></i> 30 comments</a></div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, dolor adipisicing elit. 
                                        Nulla nemo ad sapiente officia amet.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-blog-post-card-1 c-option-2">	
                                <div class="c-media c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#"><i class="icon-link"></i></a>
                                            <a href="../../assets/base/img/content/stock2/01.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/stock2/01.jpg" alt="">
                                </div>	
                                <div class="c-body">
                                    <div class="c-title c-font-uppercase c-font-bold">
                                        <a href="#">Modern Design Trends</a>
                                    </div>
                                    <div class="c-author">
                                        By <a href="#"><span class="c-font-uppercase">Penny Baker</span></a>
                                        on <span class="c-font-uppercase">25 May 2015, 10:30AM</span>
                                    </div>
                                    <div class="c-panel">
                                        <ul class="c-tags c-theme-ul-bg">
                                            <li>design</li>
                                            <li>art</li>
                                            <li>trends</li>
                                        </ul>							
                                        <div class="c-comments"><a href="#"><i class="icon-speech"></i> 18 comments</a></div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, dolor adipisicing elit. 
                                        Nulla nemo ad sapiente officia amet.
                                    </p>
                                </div>
                            </div>
                        </div>	
                        <div class="item">
                            <div class="c-content-blog-post-card-1 c-option-2">
                                <div class="c-media c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#"><i class="icon-link"></i></a>
                                            <a href="../../assets/base/img/content/stock2/03.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/stock2/03.jpg" alt="">
                                </div>	
                                <div class="c-body">
                                    <div class="c-title c-font-uppercase c-font-bold">
                                        <a href="#">Beatifully crafted Code</a>
                                    </div>
                                    <div class="c-author">
                                        By <a href="#"><span class="c-font-uppercase">Jim Raynor</span></a>
                                        on <span class="c-font-uppercase">26 May 2015, 10:30AM</span>
                                    </div>

                                    <div class="c-panel">
                                        <ul class="c-tags c-theme-ul-bg">
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>web</li>
                                        </ul>							
                                        <div class="c-comments"><a href="#"><i class="icon-speech"></i> 34 comments</a></div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, dolor adipisicing elit. 
                                        Nulla nemo ad sapiente officia amet.
                                    </p>
                                </div>
                            </div>
                        </div>		
                        <div class="item">
                            <div class="c-content-blog-post-card-1 c-option-2">			  			
                                <div class="c-media c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#"><i class="icon-link"></i></a>
                                            <a href="../../assets/base/img/content/stock2/04.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/stock2/04.jpg" alt="">
                                </div>	
                                <div class="c-body">
                                    <div class="c-title c-font-uppercase c-font-bold">
                                        <a href="#">Optimized for all Devices</a>
                                    </div>
                                    <div class="c-author">
                                        By <a href="#"><span class="c-font-uppercase">Sara Conner</span></a>
                                        on <span class="c-font-uppercase">29 May 2015, 10:30AM</span>
                                    </div>

                                    <div class="c-panel">
                                        <ul class="c-tags c-theme-ul-bg">
                                            <li>Mobile</li>
                                            <li>web</li>
                                            <li>ux</li>
                                        </ul>							
                                        <div class="c-comments"><a href="#"><i class="icon-speech"></i> 25 comments</a></div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, dolor adipisicing elit. 
                                        Nulla nemo ad sapiente officia amet.
                                    </p>
                                </div>
                            </div>
                        </div>	
                        <div class="item">
                            <div class="c-content-blog-post-card-1 c-option-2">			  			
                                <div class="c-media c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#"><i class="icon-link"></i></a>
                                            <a href="../../assets/base/img/content/stock2/05.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/stock2/05.jpg" alt="">
                                </div>	
                                <div class="c-body">
                                    <div class="c-title c-font-uppercase c-font-bold">
                                        <a href="#">Compatible to all browsers</a>
                                    </div>
                                    <div class="c-author">
                                        By <a href="#"><span class="c-font-uppercase">Mary Jane</span></a>
                                        on <span class="c-font-uppercase">30 May 2015, 10:30AM</span>
                                    </div>

                                    <div class="c-panel">
                                        <ul class="c-tags c-theme-ul-bg">
                                            <li>chrome</li>
                                            <li>firefox</li>
                                            <li>ie</li>
                                        </ul>							
                                        <div class="c-comments"><a href="#"><i class="icon-speech"></i> 28 comments</a></div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, dolor adipisicing elit. 
                                        Nulla nemo ad sapiente officia amet.
                                    </p>
                                </div>
                            </div>
                        </div>				 
                    </div>
                    <!-- End-->
                </div>
                <!-- End-->
            </div>
        </div><!-- END: CONTENT/BLOG/RECENT-POSTS -->

        <!-- BEGIN: CONTENT/MISC/ABOUT-3 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 wow animate fadeInLeft">						
                        <!-- Begin: Title 1 component -->
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold">About us</h3>
                            <div class="c-line-left c-theme-bg"></div>
                        </div>
                        <!-- End-->
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud exerci et tation diam nisl ut aliquip ex ea commodo consequat euismod tincidunt ut laoreet dolore magna aluam. </p>
                        <ul class="c-content-list-1 c-theme  c-font-uppercase">
                            <li>Perfect Design interface</li>
                            <li>Huge Community</li>
                            <li>Support for Everyone</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
                    <div class="col-sm-6 wow animate fadeInRight">
                        <div class="c-content-tab-4 c-opt-3" role="tabpanel">
                            <ul class="nav nav-justified" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab-31" role="tab" data-toggle="tab" class="c-font-16">POPULAR</a>
                                </li>
                                <li role="presentation">
                                    <a href="#tab-32" role="tab" data-toggle="tab" class="c-font-16">COMMENTS</a>
                                </li>
                                <li role="presentation">
                                    <a href="#tab-33" role="tab" data-toggle="tab" class="c-font-16">RECENT</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="tab-31">
                                    <ul class="c-tab-items">
                                        <li class="row">
                                            <div class="col-sm-4 col-xs-5">
                                                <div class="c-photo">
                                                    <img class="img-responsive" width="150" height="100" src="../../assets/base/img/content/stock/6.jpg"  alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-xs-7">
                                                <h4 class="c-font-20">Lorem Ipsum</h4>
                                                <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet dolore.</p>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4 col-xs-5">
                                                <div class="c-photo">
                                                    <img class="img-responsive" width="150" height="100" src="../../assets/base/img/content/stock/5.jpg" alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-xs-7">
                                                <h4 class="c-font-20">Dolore Sit Amet</h4>

                                                <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet dolore.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab-32">
                                    <ul class="c-tab-items">
                                        <li class="row">
                                            <div class="col-sm-4 col-xs-5">
                                                <div class="c-photo">
                                                    <img class="img-responsive" width="150" height="100" src="../../assets/base/img/content/stock/013.jpg" alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-xs-7">
                                                <h4 class="c-font-20">Lorem Ipsum</h4>
                                                <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet dolore.</p>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4 col-xs-5">
                                                <div class="c-photo">
                                                    <img class="img-responsive" width="150" height="100" src="../../assets/base/img/content/stock/18.jpg" alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-xs-7">
                                                <h4 class="c-font-20">Dolore Sit Amet</h4>

                                                <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet dolore.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab-33">
                                    <ul class="c-tab-items">
                                        <li class="row">
                                            <div class="col-sm-4 col-xs-5">
                                                <div class="c-photo">
                                                    <img class="img-responsive" width="150" height="100" src="../../assets/base/img/content/stock/76.jpg" alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-xs-7">
                                                <h4 class="c-font-20">Lorem Ipsum</h4>
                                                <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet dolore.</p>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4 col-xs-5">
                                                <div class="c-photo">
                                                    <img class="img-responsive" width="150" height="100" src="../../assets/base/img/content/stock/75.jpg" alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-xs-7">
                                                <h4 class="c-font-20">Dolore Sit Amet</h4>

                                                <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet dolore.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- END: CONTENT/MISC/ABOUT-3 -->
        <!-- END: PAGE CONTENT -->


    </div>
    <!-- END: PAGE CONTAINER -->

    <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
    <a name="footer"></a>
    <footer class="c-layout-footer c-layout-footer-6 c-bg-grey-1">

        <div class="container">

            <div class="c-prefooter c-bg-white">

                <div class="c-head">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-left">
                                <div class="socicon">
                                    <a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-bg-grey-1 c-font-grey-2 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>
                                    <a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-bg-grey-1 c-font-grey-2 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>
                                    <a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-bg-grey-1 c-font-grey-2 c-theme-on-hover socicon-youtube tooltips" data-original-title="Youtube" data-container="body"></a>
                                    <a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-bg-grey-1 c-font-grey-2 c-theme-on-hover socicon-tumblr tooltips" data-original-title="Tumblr" data-container="body"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-right">
                                <h3 class="c-title c-font-uppercase c-font-bold">Download Mobile App</h3>
                                <div class="c-icons">
                                    <a href="#" class="c-font-30 c-font-green-1 socicon-btn c-bg-grey-1-hover socicon-android tooltips" data-original-title="Android" data-container="body"></a>
                                    <a href="#" class="c-font-30 c-font-grey-3 socicon-btn c-bg-grey-1-hover socicon-apple tooltips" data-original-title="Apple" data-container="body"></a>
                                    <a href="#" class="c-font-30 c-font-blue-3 socicon-btn c-bg-grey-1-hover socicon-windows tooltips" data-original-title="Windows" data-container="body"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-line"></div>

                <div class="c-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <ul class="c-links c-theme-ul">
                                <li><a href="#">About Jango</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &	Conditions</a></li>
                                <li><a href="#">Delivery</a></li>
                                <li><a href="#">Promotions</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                            <ul class="c-links c-theme-ul">
                                <li><a href="#">Blogs</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Clients</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Stats</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="c-content-title-1 c-title-md">
                                <h3 class="c-title c-font-uppercase c-font-bold">Latest Tweets</h3>
                                <div class="c-line-left hide"></div>
                            </div>
                            <div class="c-twitter">
                                <a class="twitter-timeline"
                                   href="https://twitter.com/themehats"
                                   data-tweet-limit="2" 
                                   data-chrome="noheader nofooter noscrollbar noborders transparent">
                                    Loading tweets by @themehats...
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="c-content-title-1 c-title-md">
                                <h3 class="c-title c-font-uppercase c-font-bold">Contact Us</h3>
                                <div class="c-line-left hide"></div>
                            </div>
                            <p class="c-address c-font-16">
                                25, Lorem Lis Street, Orange <br/> California, US <br/> Phone: 800 123 3456
                                <br/> Fax: 800 123 3456 <br/> Email: <a href="mailto:info@jango.com"><span class="c-theme-color">info@jango.com</span></a>
                                <br/> Skype: <a href="#"><span class="c-theme-color">jango</span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="c-line"></div>

                <div class="c-foot">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="c-content-title-1 c-title-md">
                                <h3 class="c-font-uppercase c-font-bold">About <span class="c-theme-font">JANGO</span></h3>
                                <div class="c-line-left hide"></div>
                            </div>
                            <p class="c-text c-font-16 c-font-regular">Tolerare unus ducunt ad brevis buxum. Est alter buxum, cesaris. Eheu, lura! Racanas crescere in emeritis oenipons! Ubi est rusticus repressor? Lixa grandis clabulare est. Eposs tolerare.</p>
                        </div>
                        <div class="col-md-5">
                            <div class="c-content-title-1 c-title-md">
                                <h3 class="c-font-uppercase c-font-bold">Subscribe to Newsletter</h3>
                                <div class="c-line-left hide"></div>
                            </div>
                            <div class="c-line-left hide"></div>
                            <form action="#">
                                <div class="input-group input-group-lg c-square">
                                    <input type="text" class="form-control c-square c-font-grey-3 c-border-grey c-theme" placeholder="Your Email Here"/>
                                    <span class="input-group-btn">
                                        <button class="btn c-theme-btn c-theme-border c-btn-square c-btn-uppercase c-font-16" type="button">Subscribe</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="c-postfooter c-bg-dark-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 c-col">
                        <p class="c-copyright c-font-grey">2015 &copy; JANGO
                            <span class="c-font-grey-3">All Rights Reserved.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- END: LAYOUT/FOOTERS/FOOTER-6 -->

    <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
    <div class="c-layout-go2top">
        <i class="icon-arrow-up"></i>
    </div><!-- END: LAYOUT/FOOTERS/GO2TOP -->


</body>



{% block jq %}
    {% javascripts '@jq_front_home' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}  
{% endblock %}
