{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block SEO %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Liga' %}
        <title>{{ BreadCrump.titletag }}</title>
        <meta name="description" content="{{ BreadCrump.description }}" />
    {% endfor %}
{% endblock %}

{% block body %}
    {% include '@AppBundle/Resources/views/front/header.html.twig' %}

    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
        <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
             {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Liga' %}
                 {% for mainGallery in BreadCrump.mainGallery %}
                     style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }})">
                 {% endfor %}
                 <div class="c-breadcrumbs-wrapper">
                     <div class="container">
                         <div class="c-page-title c-pull-left">
                             <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{BreadCrump.name}}</h3>
                         </div>
                         <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                             <li><a href="{{ path ('home') }}" class="c-font-white">Naslovna</a></li>
                             <li class="c-font-white">/</li>
                             <li><a href="#" class="c-font-white">{{BreadCrump.name}}</a></li>
                         </ul>
                     </div>
                 </div>
             {% endfor %}
        </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
        <!-- BEGIN: PAGE CONTENT -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-dark c-font-uppercase">{{ oneleague.league }}</h3>
                    <div class="c-line-center c-theme-bg"></div>
                    <p class="c-center">{{ oneleague.description }}</p>
                </div>
                {% for groupp in oneleague.groupp %}

                    <div class="c-content-panel">
                        <div class="c-label">Grupa {{ oneleague.league }} </div> 

                        <div class="c-body">

                            <div class="row">
                                <div class="col-md-12">						

                                    <div class="table-responsive">
                                        {{ groupp.groupp }}
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Pozicija</th>
                                                    <th>Ekipe</th>   
                                                    <th>Broj utakmica</th>
                                                    <th>Bodovi</th>
                                                    <th>Pobedjenih</th>                                                   
                                                    <th>Izgubljenih</th>
                                                </tr>
                                            </thead>
                                            <tbody>    
                                                {% set counterteam=0 %}
                                                {% for team in groupp.team   %}

                                                    <tr>

                                                        <th>
                                                            {% set counterteam = counterteam + 1%}
                                                            {{ counterteam }}
                                                        </th>
                                                        <td>{{ team.team }} </td>
                                                        <td> 
                                                            {% set countergame=0 %}
                                                            {% for game in team.team1game if game.bodTeam1 is not empty  %}  
                                                                {% set countergame = countergame + 1%}
                                                            {% endfor %} 
                                                            {% for game in team.team2game if game.bodTeam2 is not empty    %}

                                                                {% set countergame = countergame + 1%}
                                                            {% endfor %} 
                                                            {{ countergame }}
                                                        </td>
                                                        <td>
                                                            {% set counterbod=0 %}
                                                            {% for game in team.team1game %}
                                                                {% set counterbod = counterbod + game.bodTeam1%}
                                                            {% endfor %}
                                                            {% for game in team.team2game %}

                                                                {% set counterbod = counterbod + game.bodTeam2%}
                                                            {% endfor %}
                                                            {{ counterbod }}
                                                        </td>
                                                        <td>
                                                            {% set counterwin=0 %}
                                                            {% for game in team.team1game if game.bodTeam1 > game.bodTeam2  %}
                                                                {% set counterwin = counterwin + 1%}
                                                            {% endfor %}
                                                            {% for game in team.team2game if game.bodTeam2 > game.bodTeam1 %}
                                                                {% set counterwin = counterwin + 1%}
                                                            {% endfor %}
                                                            {{ counterwin }}
                                                        </td>
                                                        <td>
                                                            {% set counterlose=0 %}
                                                            {% for game in team.team1game if game.bodTeam1 < game.bodTeam2  %}
                                                                {% set counterlose = counterlose + 1%}
                                                            {% endfor %}
                                                            {% for game in team.team2game if game.bodTeam2 < game.bodTeam1 %}
                                                                {% set counterlose = counterlose + 1%}
                                                            {% endfor %}
                                                            {{ counterlose }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}							
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-content-panel">
                        <div class="c-label">Utakmice</div>                      
                        <div class="c-body">
                            <div class="row">
                                <div class="col-md-12">						
                                    <div class="table-responsive">
                                        {{ groupp.groupp }} <br><br>
                                        {% for round in groupp.round %}
                                            {{round.rounds}}
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Domacin</th>
                                                        <th>SET</th>
                                                        <th>SET</th>
                                                        <th>Gost</th>
                                                        <th>Mesto</th>
                                                        <th>Datum</th>
                                                        <th>Pocetak</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for game in round.game %}
                                                        <tr>
                                                            <td>{{ game.team1.team }}</td>
                                                            <td>{{ game.numberSet1 }}</td>
                                                            <td>{{ game.numberSet2 }}</td>
                                                            <td>{{ game.team2.team }}</td>     
                                                            <td><a href="{{ path('place_detail', { 'slug': game.place.slug }) }}">{{ game.place.title }}</a></td>  
                                                            <td>{{ game.date| date('d-m-Y')  }}</td>  
                                                            <td>{{ game.begin| date('H:i')  }}</td>                                                                                                                                            
                                                        </tr>
                                                    {% endfor %}					
                                                </tbody>
                                            </table>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}         
            </div>
        </div>
        {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
    </body> 


{% endblock %}     