<ul class="nav navbar-nav c-theme-nav">                         
    <li class="c-menu-type-classic">
        <a href="{{ path('home') }}" class="c-link dropdown-toggle">Naslovna<span class="c-arrow c-toggler"></span></a>
    </li>

    <li class="c-menu-type-classic">
        <a href="{{ path('team') }}" class="c-link dropdown-toggle">Tim trenera<span class="c-arrow c-toggler"></span></a>
    </li>
    <li class="c-menu-type-classic">
        <a href="{{ path('place') }}" class="c-link dropdown-toggle">Raspored treninga<span class="c-arrow c-toggler"></span></a>
    </li>
    <li class="c-menu-type-classic">
        <a href="{{ path('pricing') }}" class="c-link dropdown-toggle">Cenovnik<span class="c-arrow c-toggler"></span></a>
    </li>
    <li class="c-menu-type-classic">
        <a href="{{ path('league') }}" class="c-link dropdown-toggle">Takmicenja<span class="c-arrow c-toggler"></span></a>
    </li>
    <li class="c-menu-type-classic">
        <a href="{{ path('about') }}" class="c-link dropdown-toggle">O nama<span class="c-arrow c-toggler"></span></a>
    </li>
    <li class="c-menu-type-classic">
        <a href="{{ path('contact') }}" class="c-link dropdown-toggle">Kontakt<span class="c-arrow c-toggler"></span></a>
    </li>
</ul>
