{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block SEO %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Lokacija' %}
        <title>{{ BreadCrump.titletag }}</title>
        <meta name="description" content="{{ BreadCrump.description }}" />
    {% endfor %}
{% endblock %}

{% block body %}
    {% include '@AppBundle/Resources/views/front/header.html.twig' %}
    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
        <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
             {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Lokacija' %}
                 {% for mainGallery in BreadCrump.mainGallery %}
                     style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }})">
                 {% endfor %}
                 <div class="c-breadcrumbs-wrapper">
                     <div class="container">
                         <div class="c-page-title c-pull-left">
                             <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{BreadCrump.name}}</h3>
                         </div>
                         <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                             <li><a href="{{ path ('home') }}" class="c-font-white">Naslovna</a></li>
                             <li class="c-font-white">/</li>
                             <li><a href="#" class="c-font-white">{{BreadCrump.name}}</a></li>
                         </ul>
                     </div>
                 </div>
             {% endfor %}
        </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->


        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->

            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-1-view">
                                <div class="c-content-blog-post-1">
                                    <div class="c-media">
                                        <div class="c-content-media-2-slider" data-slider="owl">
                                            <div class="owl-carousel owl-theme c-theme owl-single" data-rtl="false" data-single-item="true" data-auto-play="4000">
                                                {% for mainGallery in onePlace.mainGallery %}                                                
                                                    <div class="item">
                                                        <div class="c-content-media-2" style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }}); min-height: 460px;"></div>
                                                    </div> 
                                                {% endfor %}   
                                            </div>
                                        </div>
                                    </div>

                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="">{{onePlace.title}}</a>
                                    </div>

                                    <div class="c-panel c-margin-b-30">
                                        <div class="c-author"><a href="#">By <span class="c-font-uppercase">Nick Strong</span></a></div>
                                        <div class="c-date">on <span class="c-font-uppercase">20 May 2015, 10:30AM</span></div>
                                        <ul class="c-tags c-theme-ul-bg">
                                            <li>ux</li>
                                            <li>marketing</li>
                                            <li>events</li>
                                        </ul>							
                                        <div class="c-comments"><a href="#"><i class="icon-speech"></i> 30 comments</a></div>
                                    </div>

                                    <div class="c-desc">
                                        <p>{{onePlace.description |raw}}</p>                                
                                    </div>                           
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->


                            <div class="c-content-ver-nav">
                                <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                    <h3 class="c-font-bold c-font-uppercase">INFO</h3>
                                    <div class="c-line-left c-theme-bg"></div>
                                </div>
                                <ul class="c-menu c-arrow-dot1 c-theme">
                                    <li><a href="#">{{onePlace.adress}}</a></li>
                                        {% for onePlace in onePlace.member %}
                                        <li><a href="#">{{ onePlace.name  }}</a></li>
                                        {% endfor %}
                                        {% for time in times %}
                                        <li><a href="#">{{ time.day }} OD {{ time.begin|date('H-m') }} DO {{ time.end|date('H-m') }}</a></li>                                  
                                        {% endfor %}                               
                                </ul>
                            </div>            
                        </div>
                    </div>
                </div> 
            </div>
            <!-- END: BLOG LISTING  -->

            <!-- END: PAGE CONTENT -->
        </div>
        <!-- END: PAGE CONTAINER -->
        {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
    </body>


{% endblock %} 