{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block body %}
    {% include '@AppBundle/Resources/views/front/header.html.twig' %}
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">
    
    <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
         style="background-image: url(../../../../public/Front/images/volleyball-1034436_1920.jpg)">
    <div class="c-breadcrumbs-wrapper">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">Tim trenera</h3>
                <h4 class="c-font-white c-font-thin c-opacity-09">Tim</h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="javascript:;" class="c-font-white">Naslovna</a></li>
                <li class="c-font-white">/</li>
                <li><a href="#" class="c-font-white">Tim trenera</a></li>
            </ul>
        </div>
    </div>
</div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    
    <!-- BEGIN: PAGE CONTAINER -->
    <div class="c-layout-page">
        <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
 
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: BLOG LISTING -->
        <div class="c-content-box c-size-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="c-content-blog-post-1-view">
                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl">
                                        <div class="owl-carousel owl-theme c-theme owl-single" data-rtl="false" data-single-item="true" data-auto-play="4000">
                                            {% for onePlace in onePlace.galerry %}                                          
                                                <div class="item">
                                                    <div class="c-content-media-2" style="background-image: url(/web/upload/images/599322376a438_1.jpg); min-height: 460px;">
                                                        <img src="{{ vich_uploader_asset(onePlace, 'imageFile') }}" alt="{{ onePlace.alt }}" />
                                                    </div>
                                                </div>
                                            {% endfor %}    
                                        </div>
                                    </div>
                                </div>

                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="">{{onePlace.title}}</a>
                                </div>

                                <div class="c-panel c-margin-b-30">
                                    <div class="c-author"><a href="#">By <span class="c-font-uppercase">Nick Strong</span></a></div>
                                    <div class="c-date">on <span class="c-font-uppercase">20 May 2015, 10:30AM</span></div>
                                    <ul class="c-tags c-theme-ul-bg">
                                        <li>ux</li>
                                        <li>marketing</li>
                                        <li>events</li>
                                    </ul>							
                                    <div class="c-comments"><a href="#"><i class="icon-speech"></i> 30 comments</a></div>
                                </div>

                                <div class="c-desc">
                                    <p>{{onePlace.description}}</p>                                
                                </div>                           
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->


                        <div class="c-content-ver-nav">
                            <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                <h3 class="c-font-bold c-font-uppercase">INFO</h3>
                                <div class="c-line-left c-theme-bg"></div>
                            </div>
                            <ul class="c-menu c-arrow-dot1 c-theme">
                                <li><a href="#">{{onePlace.adress}}</a></li>
                                    {% for onePlace in onePlace.member %}
                                    <li><a href="#">{{ onePlace.name  }}</a></li>
                                    {% endfor %}
                                    {% for time in times %}
                                    <li><a href="#">{{ time.day }} OD {{ time.begin|date('H-m') }} DO {{ time.end|date('H-m') }}</a></li>                                  
                                    {% endfor %}                               
                            </ul>
                        </div>            
                    </div>
                </div>
            </div> 
        </div>
        <!-- END: BLOG LISTING  -->

        <!-- END: PAGE CONTENT -->
    </div>
    <!-- END: PAGE CONTAINER -->








</body>

    {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
{% endblock %} 