{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block SEO %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Trener' %}
        <title>{{ BreadCrump.titletag }}</title>
        <meta name="description" content="{{ BreadCrump.description }}" />
    {% endfor %}
{% endblock %}

{% block body %}
    {% include '@AppBundle/Resources/views/front/header.html.twig' %}
    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
        <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
             {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Trener' %}
                 {% for mainGallery in BreadCrump.mainGallery %}
                     style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }})">
                 {% endfor %}
                 <div class="c-breadcrumbs-wrapper">
                     <div class="container">
                         <div class="c-page-title c-pull-left">
                             <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{BreadCrump.name}}</h3>
                         </div>
                         <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                             <li><a href="{{ path ('home') }}" class="c-font-white">Naslovna</a></li>
                             <li class="c-font-white">/</li>
                             <li><a href="#" class="c-font-white">{{BreadCrump.name}}</a></li>
                         </ul>
                     </div>
                 </div>
             {% endfor %}
        </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-1-view">
                                <div class="c-content-blog-post-1">
                                    <div class="c-media">
                                        <div class="c-content-media-2-slider" data-slider="owl">
                                            <div class="owl-carousel owl-theme c-theme owl-single" data-rtl="false" data-single-item="true" data-auto-play="4000">
                                                {% for mainGallery in oneMember.mainGallery %}                                         
                                                    <div class="item">
                                                        <div class="item">
                                                            <div class="c-content-media-2" style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }}); min-height: 460px;"></div>
                                                        </div> 
                                                    </div>
                                                {% endfor %} 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="">{{ oneMember.name }}</a>
                                    </div>
                                    <div class="c-desc">
                                        <p>{{oneMember.description | raw}}</p>                                
                                    </div> 


                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                            <div class="c-content-ver-nav">
                                <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                    <h3 class="c-font-bold c-font-uppercase">INFO</h3>
                                    <div class="c-line-left c-theme-bg"></div>
                                </div>
                                <ul class="c-menu c-arrow-dot1 c-theme">
                                    <li><b>Radno mesto:</b> {{ oneMember.position }}</li>
                                    <li><b>Stručna sprema:</b> {{ oneMember.education }}</li>
                                    <li><b>Telefon:</b> {{ oneMember.phone }}</li>
                                    <li><b>E-mail:</b> {{ oneMember.mail }}</li>
                                </ul>
                            </div>            
                        </div>

                    </div>
                    <br>
                    <br>
                    <h2 class="c-title c-font-bold c-font-uppercase" >Trening koje vodi {{ oneMember.name }} </h2>
                </div> 

                {% for place in oneMember.place %} 
                    <div {% if loop.index is odd %} class="c-content-box c-size-md c-bg-white" {% elseif loop.index is even  %} class="c-content-box c-size-md c-bg-grey-1" {% endif %} >
                        <div class="container">
                            {% if loop.index is odd %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="c-content-media-1 c-bordered wow animated fadeInLeft" style="min-height: 380px;">
                                            <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">{{ place.adress }}</div>
                                            <a href="{{ path('place_detail', { 'slug': place.slug}) }}" class="c-title c-font-uppercase c-theme-on-hover c-font-bold">{{ place.title }}</a>                                                                                      
                                        </div>
                                    </div>
                                    <div class="col-md-8">		
                                        <div class="c-content-media-2-slider wow animated fadeInRight" data-slider="owl">
                                            <div class="c-content-label c-font-uppercase c-font-bold">Lokacija</div>						
                                            <div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-navigation-dots="true" data-auto-play="4000" data-rtl="false">						
                                                {% for mainGallery in place.mainGallery %}   
                                                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }}); min-height: 380px;"></div>
                                                {% endfor %}
                                            </div>
                                        </div>		
                                    </div>
                                </div>
                            {% elseif true %}
                                <div class="row">

                                    <div class="col-md-8">		
                                        <div class="c-content-media-2-slider wow animated fadeInRight" data-slider="owl">
                                            <div class="c-content-label c-font-uppercase c-font-bold">Lokacija</div>						
                                            <div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-navigation-dots="true" data-auto-play="4000" data-rtl="false">						
                                                {% for mainGallery in place.mainGallery %}   
                                                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }}); min-height: 380px;"></div>
                                                {% endfor %}
                                            </div>
                                        </div>		
                                    </div>
                                    <div class="col-md-4">
                                        <div class="c-content-media-1 c-bordered wow animated fadeInLeft" style="min-height: 380px;">
                                            <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">{{ place.adress }}</div>
                                            <a href="{{ path('place_detail', { 'slug': place.slug}) }}" class="c-title c-font-uppercase c-theme-on-hover c-font-bold">{{ place.title }}</a>                                                                                      
                                        </div>
                                    </div>

                                </div>


                            {% endif %}

                        </div>
                    </div>
                {% endfor %}            
            </div>
            <!-- END: BLOG LISTING  -->

            <!-- END: PAGE CONTENT -->
        </div>
        {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
    </body>
    <!-- END: PAGE CONTAINER -->
{% endblock %} 