{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block SEO %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Tim trenera' %}
        <title>{{ BreadCrump.titletag }}</title>
        <meta name="description" content="{{ BreadCrump.description }}" />
    {% endfor %}
{% endblock %}

{% block body %}
    {% include '@AppBundle/Resources/views/front/header.html.twig' %}
    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
        <div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
             {% for BreadCrump in BreadCrumps if BreadCrump.name == 'Tim trenera' %}
                 {% for mainGallery in BreadCrump.mainGallery %}
                     style="background-image: url({{ vich_uploader_asset(mainGallery, 'imageFile') }})">
                 {% endfor %}
                 <div class="c-breadcrumbs-wrapper">
                     <div class="container">
                         <div class="c-page-title c-pull-left">
                             <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{BreadCrump.name}}</h3>
                         </div>
                         <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                             <li><a href="{{ path ('home') }}" class="c-font-white">Naslovna</a></li>
                             <li class="c-font-white">/</li>
                             <li><a href="#" class="c-font-white">{{BreadCrump.name}}</a></li>
                         </ul>
                     </div>
                 </div>
             {% endfor %}
        </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
        <!-- BEGIN: PAGE CONTAINER -->

        <div class="c-layout-page">       

            <!-- BEGIN: CONTENT/MISC/TEAM-3 -->
            <div class="c-content-box c-size-md c-bg-white-1">

                <div class="row">

                    <div class="c-content-box c-size-md c-bg-grey-1">
                        <div class="container">
                            <!-- Begin: Testimonals 1 component -->
                            <div class="c-content-team-1-slider" data-slider="owl" data-items="3">
                                <!-- Begin: Title 1 component -->
                                <div class="c-content-title-1">
                                    <h3 class="c-center c-font-uppercase c-font-bold">Upoznajte nas tim</h3>
                                    <div class="c-line-center c-theme-bg"></div>
                                </div>
                                <!-- End-->
                                <div class="row">


                                    {% for teamMember in teamMembers %}
                                        <div class="col-md-4 col-sm-6 c-margin-b-30">
                                            <div class="c-content-person-1 c-option-2">
                                                {% for mainGallery in teamMember.mainGallery if mainGallery.mainPicture %}                               
                                                    <div class="c-caption c-content-overlay">
                                                        <div class="c-overlay-wrapper">
                                                            <div class="c-overlay-content">
                                                                <a href="{{ path('trener_detail', { 'slug': teamMember.slug}) }}"><i class="icon-link"></i></a>
                                                                <a href="{{ vich_uploader_asset(mainGallery, 'imageFile') }}" data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                                    <i class="icon-magnifier"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <img class="c-overlay-object img-responsive" src="{{ vich_uploader_asset(mainGallery, 'imageFile') }}" alt="{{ mainGallery.alt }}">
                                                    </div>
                                                {% endfor %}

                                                <div class="c-body">
                                                    <div class="c-head">
                                                        <div class="c-name c-font-uppercase c-font-bold">
                                                            <a href="{{ path('trener_detail', { 'slug': teamMember.slug}) }}">{{ teamMember.name }}</a>
                                                        </div>
                                                        <ul class="c-socials c-theme-ul-ul">
                                                            <li><a href="{{ teamMember.faceurl }}"><i class="icon-social-twitter"></i></a></li>
                                                            <li><a href="{{ teamMember.gurl }}"><i class="icon-social-facebook"></i></a></li>
                                                            <li><a href="{{ teamMember.inurl }}"><i class="icon-social-dribbble"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="c-position">
                                                        {{ teamMember.position }}
                                                    </div>
                                                    <p>
                                                        {{ teamMember.description | raw}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- End-->
                                </div>
                                <!-- End-->
                            </div>
                        </div><!-- END: CONTENT/MISC/TEAM-3 -->
                        <!-- END: PAGE CONTENT -->
                    </div>
                    <!-- End-->
                </div>
                <!-- End-->
            </div>
        </div><!-- END: CONTENT/MISC/TEAM-3 -->
        <!-- END: PAGE CONTENT -->
        {% include '@AppBundle/Resources/views/front/footer.html.twig' %}
    </body>

{% endblock %}    