{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block thead %}
    <h1>Groupps list</h1>

    <table class="table table-striped table-bordered table-hover js-table" id="sample_1"  >
        <thead>
            <tr>
                <th>Liga</th> 
                <th>Groupp</th>
                <th>Kolo</th>  
                <th>Tim</th>
                <th>Actions</th>
            </tr>
        </thead>
    {% endblock %}

    {% block tbody %}
        <tbody>
            {% for groupp in groupps %}             
                <tr>
                    <td>{{ groupp.league.league }}</td>
                    <td><a href="{{ path('groupp_show', { 'id': groupp.id }) }}">{{ groupp.groupp }}</a></td>
                    <td>
                        {% for round in groupp.round %}                  
                            {{ round.rounds }},
                        {% endfor %}
                    </td>
                    <td>
                        {% for team in groupp.team %}                  
                            {{ team.team }},
                        {% endfor %}
                    </td>           
                    <td class="btn-group btn-group-circle btn-group-solid">  
                        <a href="{{ path('groupp_show', { 'id': groupp.id }) }}"  class="btn green">show</a>
                        <a href="{{ path('groupp_edit', { 'id': groupp.id }) }}" class="btn yellow">edit</a>
                        <a class="btn red 
                           js-delete-row"  
                           href="#"                          
                           data-url="{{ path ('groupp_delete', {'id':groupp.id}) }}"
                           >delete</a>
                    </td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

   
            <a href="{{ path('groupp_new') }}"  class="btn btn-circle green">Create a new groupp</a>
    
{% endblock %}
{% block javascript %}   
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var $table = $('.js-table');
            DeleteRow.initialize($table);
            
        });
    </script>


{% endblock %}
