{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block tbody %}
    <h1>Groupp</h1>

    <table  class="table table-striped table-bordered table-hover" id="sample_1">
        <tbody>
            <tr>
                <th>Liga</th>
                <td>{{ groupp.league.league }}</td>               
            </tr>
            <tr>
                <th>Group</th>
                <td>{{ groupp.groupp }}</td>
            </tr>
             <th>Runde</th>
                <td>
                    {% for round in groupp.round %}
                    {{ round.rounds }},
                    {% endfor %}
                </td>
            <tr>
                <th>Timovi</th>
                <td>
                    {% for team in groupp.team %}
                    {{ team.team }},
                    {% endfor %}
                </td>              
            </tr>
            
            
          
           
        </tbody>
    </table>

          
      
            
       
            {{ form_start(delete_form) }}
            <div  class="btn-group btn-group-circle btn-group-solid">
                  <a href="{{ path('groupp_index') }}" class="btn green">Back to the list</a>
                  <a href="{{ path('groupp_edit', { 'id': groupp.id }) }}" class="btn yellow">Edit</a>
                <input type="submit" value="Delete" class="btn red">
                
            </div>    
            {{ form_end(delete_form) }}
     
{% endblock %}
