{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block tbody %}
    <h1>Place</h1>

    <table  class="table table-striped table-bordered table-hover" id="sample_1">
        <tbody>          
            <tr>
                <th>Title</th>
                <td>{{ place.title }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ place.adress }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ place.description | raw}}</td>
            </tr>           
            <tr>
                <th>Treaning place</th>
                <td>{% if place.treaningPlace %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Trener</th>
                <td>
                    {% for member in place.member %}
                        {{ member.name }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Slike</th>
                <td>
                    {% for mainGallery in place.mainGallery %}
                        <img src="{{ vich_uploader_asset(mainGallery, 'imageFile') }}" height="50" width="50" />
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    {{ form_start(delete_form) }}
    <div  class="btn-group btn-group-circle btn-group-solid">
        <a href="{{ path('place_index') }}" class="btn green">Back to the list</a>
        <a href="{{ path('place_edit', { 'id': place.id }) }}"  class="btn yellow">Edit</a>
        <input type="submit" value="Delete" class="btn red">
    </div>    
    {{ form_end(delete_form) }}
{% endblock %}
